<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedItems()"
        [disabled]="!selectedItems || !selectedItems.length"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    able
    #dt
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [value]="videoHomePages"
    [rows]="20"
    [paginator]="true"
    [rowHover]="true"
    [(selection)]="selectedItems"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Youtube Embed</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Youtube Image</th>
        <th>Youtube Link</th>
        <th>Descriptions</th>
        <th>Width</th>
        <th>Height</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td>
        <td>
          <ng-container *ngIf="item.youtubeImage; else noImage">
            <img [src]="item.youtubeImage" alt="Image" width="150" height="150" />
          </ng-container>
          <ng-template #noImage>
            <img src="assets/img/NoImg.jpg" alt="No Image" width="150" height="150" />
          </ng-template>
        </td>
        <td>
          <iframe
            _ngcontent-c2=""
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            frameborder="0"
            height="150"
            [src]="getLinkIframeYoutube(item.youtubeId)"
            width="100%"
          >
          </iframe>
        </td>
        <td>{{ item.descriptions }}</td>
        <td>{{ item.width }}</td>
        <td>{{ item.height }}</td>

        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editVideoHomePage(item)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteVideoHomePage(item)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ videoHomePages ? videoHomePages.length : 0 }} items.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="dialog"
  [style]="{ width: '450px' }"
  header="Attachment Type"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Descriptions</label>
      <input type="text" pInputText id="descriptions" [(ngModel)]="videoHomePage.descriptions" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !videoHomePage.descriptions">Descriptions is required.</small>
    </div>
    <div class="p-field">
      <label for="name">Height</label>
      <input type="text" pInputText id="width" [(ngModel)]="videoHomePage.width" autofocus />
    </div>
    <div class="p-field">
      <label for="name">Width</label>
      <input type="text" pInputText id="height" [(ngModel)]="videoHomePage.height" autofocus />
    </div>
    <div class="p-field">
      <label for="name">YoutubeLink</label>
      <input type="text" pInputText id="youtubeLink" [(ngModel)]="videoHomePage.youtubeLink" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !videoHomePage.youtubeLink">YoutubeLink is required.</small>
    </div>
    <div class="p-field">
      <label for="name">YoutubeId</label>
      <input type="text" pInputText id="youtubeId" [(ngModel)]="videoHomePage.youtubeId" autofocus />
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveVideoHomePage()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
