<p-dialog styleClass="p-fluid p-w-1000" [position]="'center'" [header]="titleDialog" [modal]="true" [(visible)]="isShowDialog" (onHide)="hideDialog()">
  <ng-template pTemplate="content">
    <form [formGroup]="shippingRequestDocumentsForm">
      <div class="p-grid">
        <div class="p-field p-col-3">
          <div>Purchase Order</div>
          <div>{{ this.selectedShippingRequest.purchaseOrder }}</div>
        </div>
        <div class="p-field p-col-3">
          <div>Customer Name</div>
          <div>{{ this.selectedShippingRequest.customerName }}</div>
        </div>
        <div class="p-field p-col-3">
          <div>Semline Number</div>
          <div>{{ this.selectedShippingRequest.semlineNumber }}</div>
        </div>
        <div class="p-field p-col-3">
          <div>Shipping Date</div>
          <div>{{ this.selectedShippingRequest.shippingDate | date: 'dd/MM/yyyy' }}</div>
        </div>
      </div>

      <div class="shipping-request-document__border-top-group">
        <div class="p-field p-mt-20">
          <label for="customsDeclarationNumber">Customs Declaration Number</label>
          <input pInputText id="customsDeclarationNumber" [formControl]="customsDeclarationNumberControl" type="text" />
        </div>

        <div class="p-field">
          <label for="grossWeight">Gross Weight (Kg)</label>
          <p-inputNumber id="grossWeight" [formControl]="grossWeightControl"> </p-inputNumber>
        </div>

        <div class="p-field">
          <label for="billToCustomer">Bill To</label>
          <input pInputText id="billToCustomer" [formControl]="billToCustomerControl" type="text" />
        </div>

        <div class="p-field">
          <label for="receiverCustomer">Receiver</label>
          <input pInputText id="receiverCustomer" [formControl]="receiverCustomerControl" type="text" />
        </div>

        <div class="p-field">
          <label for="receiverAddress">Receiver Address</label>
          <input pInputText id="receiverAddress" [formControl]="receiverAddressControl" type="text" />
        </div>

        <div class="p-field">
          <label for="notes">Notes</label>
          <input pInputText id="notes" [formControl]="notesControl" type="text" />
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="shippingRequestDocumentsForm.invalid" (click)="onSubmit()"></button>
  </ng-template>
</p-dialog>
