<p-dialog
  styleClass="p-fluid p-w-1000"
  [position]="'center'"
  [header]="titleDialog"
  [modal]="true"
  [(visible)]="isShowDialog"
  (onHide)="hideDialog()">
  <ng-template pTemplate="content">
    <form [formGroup]="shippingRequestDocumentsForm">
      <div class="p-field">
        <label for="id">Shipping plan id</label>
        <input
          disabled
          pInputText
          id="id"
          [formControl]="idControl"
          type="text"
        />
        <ng-container *ngIf="idControl.invalid && (idControl.dirty || idControl.touched)">
          <small class="p-invalid p-error">Please enter a valid product name</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label for="customDeclarationNumber">customDeclarationNumber</label>
        <input
          pInputText
          id="customDeclarationNumber"
          [formControl]="customDeclarationNumberControl"
          type="text" />
      </div>

      <div class="p-field">
        <label for="grossWeight">grossWeight</label>
        <p-inputNumber
          inputId="grossWeight"
          [formControl]="grossWeightControl" >
        </p-inputNumber>
      </div>

      <div class="p-field">
        <label for="billToCustomer">billToCustomer</label>
        <p-inputNumber
          inputId="billToCustomer"
          [formControl]="billToCustomerControl" >
        </p-inputNumber>
      </div>

      <div class="p-field">
        <label for="receiverCustomer">receiverCustomer</label>
        <p-inputNumber
          inputId="receiverCustomer"
          [formControl]="receiverCustomerControl" >
        </p-inputNumber>
      </div>

      <div class="p-field">
        <label for="receiverAddress">receiverAddress</label>
        <p-inputNumber
          inputId="receiverAddress"
          [formControl]="receiverAddressControl" >
        </p-inputNumber>
      </div>

      <div class="p-field">
        <label for="notes">notes</label>
        <p-inputNumber
          inputId="notes"
          [formControl]="notesControl" >
        </p-inputNumber>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="shippingRequestDocumentsForm.invalid" (click)="onSubmit()"></button>
  </ng-template>
</p-dialog>
