<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button class="p-button-primary p-mr-2" pButton pRipple icon="pi pi-plus" label="Create Movement Requests"
        (click)="openCreateDialog()"></button>
      <button
        class="p-button-danger p-mr-2"
        pButton
        pRipple
        icon="pi pi-trash"
        [disabled]="!selectedMovementRequests || !selectedMovementRequests.length"
        label="Delete Movement Requests"
        (click)="openDeleteDialog()"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #movementRequestDataTable
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rows]="20"
    [value]="movementRequests"
    [rowHover]="true"
    [paginator]="true"
    [showCurrentPageReport]="true"
    [globalFilterFields]="['name', 'note', 'created', 'createBy', 'lastModified', 'lastModifiedBy']"
    [(selection)]="selectedMovementRequests">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Movement Request</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="movementRequestDataTable.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="note">Note<p-sortIcon field="note"></p-sortIcon>
        </th>
        <th pSortableColumn="created">Created<p-sortIcon field="created"></p-sortIcon>
        </th>
        <th pSortableColumn="createBy">Create By<p-sortIcon field="createBy"></p-sortIcon>
        </th>
        <th pSortableColumn="lastModified">Last Modified<p-sortIcon field="nolastModifiedte"></p-sortIcon>
        </th>
        <th pSortableColumn="lastModifiedBy">Last Modified By<p-sortIcon field="lastModifiedBy"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-movementRequest>
      <tr>
        <td>
          <p-tableCheckbox [value]="movementRequest"></p-tableCheckbox>
        </td>
        <td>{{ movementRequest.name }}</td>
        <td>{{ movementRequest.note }}</td>
        <td>{{ movementRequest.created }}</td>
        <td>{{ movementRequest.createBy }}</td>
        <td>{{ movementRequest.lastModified }}</td>
        <td>{{ movementRequest.lastModifiedBy }}</td>
        <td>
          <button class="p-button-rounded p-button-success p-mr-2" pButton pRipple icon="pi pi-pencil"
            (click)="openEditDialog(movementRequest)"></button>
          <button class="p-button-rounded p-button-danger p-mr-2" pButton pRipple icon="pi pi-trash"
            (click)="openDeleteDialog(movementRequest)"></button>
          <button class="p-button-rounded p-button-warning" pButton pRipple icon="pi pi-search"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">In total there are {{ movementRequests ? movementRequests.length :
        0 }} movement requests.</div>
    </ng-template>
  </p-table>
</div>

<!-- Create Movement Requests Dialog -->
<p-dialog header="Create Movement Requests" styleClass="p-fluid p-w-500" [modal]="true" [(visible)]="isShowCreateDialog"
  (onHide)="hideCreateDialog()">
  <ng-template pTemplate="content">
    <form [formGroup]="movementRequestForm">
      <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <input id="name" formControlName="name" type="text" class="form-control" />
        <ng-container *ngIf="name.invalid && (name.dirty || name.touched)">
          <small id="email-error" class="p-invalid create-user-form__error">Name is required.</small>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="note" class="control-label">Note</label>
        <input id="note" formControlName="note" type="text" class="form-control" />
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
      (click)="hideCreateDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
      [disabled]="movementRequestForm.invalid" (click)="onCreate()"></button>
  </ng-template>
</p-dialog>

<!-- Edit Movement Request Dialog -->
<p-dialog header="Edit Movement Request" styleClass="p-fluid p-w-500" [modal]="true" [(visible)]="isShowEditDialog"
  (onHide)="hideEditDialog()">
  <ng-template pTemplate="content">
    <form [formGroup]="movementRequestForm">
      <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <input id="name" formControlName="name" type="text" class="form-control" />
        <ng-container *ngIf="name.invalid && (name.dirty || name.touched)">
          <small id="email-error" class="p-invalid create-user-form__error">Name is required.</small>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="note" class="control-label">Note</label>
        <input id="note" formControlName="note" type="text" class="form-control" />
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
      [disabled]="movementRequestForm.invalid" (click)="onEdit()"></button>
  </ng-template>
</p-dialog>

<!-- Delete Shipping Requests Dialog -->
<p-dialog header="Delete Shipping Requests" styleClass="p-fluid" [modal]="true" [(visible)]="isShowDeleteDialog"
  (onHide)="hideDeleteDialog()">
  <ng-template pTemplate="content">
    <ng-container *ngIf="currentSelectedMovementRequest && currentSelectedMovementRequest.length; else deleteMany">
      <div>Are you sure you want to delete {{ currentSelectedMovementRequest[0].name }} ?</div>
    </ng-container>
  </ng-template>

  <ng-template #deleteMany>
    <div>Are you sure you want to delete {{ selectedMovementRequests && selectedMovementRequests.length }} items ?</div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
      (click)="hideDeleteDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onDelete()"></button>
  </ng-template>
</p-dialog>
