<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"></ng-template>
    <ng-template pTemplate="right">
      <button class="p-button-info p-mr-2" pButton pRipple icon="pi pi-plus" label="Create"
        (click)="openCreateDialog()"></button>
      <button
        class="p-button-danger p-mr-2"
        pButton
        pRipple
        icon="pi pi-trash"
        label="Delete"
        [disabled]="selectedMovementRequests && selectedMovementRequests.length !== 1"
        (click)="openDeleteDialog(selectedMovementRequests[0])"></button>

      <button
        class="p-button-success p-mr-2"
        pButton
        pRipple
        label="Edit"
        icon="pi pi-pencil"
        [disabled]="selectedMovementRequests && selectedMovementRequests.length !== 1"
        (click)="openEditDialog(selectedMovementRequests[0])"></button>

      <button class="p-button-warning" pButton pRipple icon="pi pi-search"
        [disabled]="selectedMovementRequests && selectedMovementRequests.length !== 1" label="History"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #movementRequestDataTable
    dataKey="id"
    styleClass="p-datatable-customers"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rows]="20"
    [columns]="cols"
    [value]="movementRequests"
    [rowHover]="true"
    [paginator]="true"
    [showCurrentPageReport]="true"
    [resizableColumns]="true"
    [globalFilterFields]="colFields"
    [scrollable]="true"
    [(selection)]="selectedMovementRequests">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Movement Request</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="movementRequestDataTable.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col [style.width.px]="col.width" *ngFor="let col of columns" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th pResizableColumn [pSortableColumn]="col.field">{{ col.header }}<p-sortIcon
                  [field]="col.field"></p-sortIcon>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-workOrder let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableCheckbox [value]="workOrder"></p-tableCheckbox>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ workOrder[col.field] | date: 'dd/MM/yyyy' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ workOrder[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ workOrder[col.field] }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Create Movement Requests Dialog -->
<p-dialog header="Create Movement Requests" styleClass="p-fluid p-w-700" [modal]="true" [(visible)]="isShowCreateDialog"
  (onHide)="hideCreateDialog()">
  <ng-template pTemplate="content">
    <div class="card">
      <p-steps [model]="stepItems" [activeIndex]="activeIndex"></p-steps>
    </div>

    <!-- Step 1 -->
    <ng-container *ngIf="activeIndex === 0">
      <p-card>
        <ng-template pTemplate="title"> Movement Request </ng-template>
        <ng-template pTemplate="content">
          <div class="p-fluid">
            <form [formGroup]="movementRequestForm">
              <div class="form-group">
                <label for="workOrders" class="control-label">Work Orders</label><span class="p-invalid">*</span>
                <p-multiSelect
                  [ngClass]="{ 'ng-dirty': workOrders.invalid && (workOrders.dirty || workOrders.touched) }"
                  [options]="workOrderList" [formControl]="workOrders" defaultLabel="Select Work Orders"
                  optionLabel="id" appendTo="body">
                </p-multiSelect>
                <ng-container *ngIf="workOrders.invalid && (workOrders.dirty || workOrders.touched)">
                  <small id="email-error" class="p-invalid create-user-form__error">Work Order is required.</small>
                </ng-container>
              </div>

              <div class="p-field">
                <label for="name">Movement Request Name</label><span class="p-invalid">*</span>
                <input
                  [ngClass]="{ 'ng-dirty': nameControl.invalid && (nameControl.dirty || nameControl.touched) }"
                  pInputText
                  id="name"
                  [formControl]="nameControl"
                  type="text" />
                <ng-container *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)">
                  <small class="p-invalid p-error">Movement Request Name is required</small>
                </ng-container>
              </div>

              <div class="p-field">
                <label for="notes">Notes</label>
                <input
                  pInputText
                  id="notes"
                  [formControl]="notesControl"
                  type="text" />
              </div>
            </form>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-end">
            <p-button styleClass="p-button-text" label="Next" [disabled]="movementRequestForm.invalid"
              (onClick)="nextPage(activeIndex)"
              icon="pi pi-angle-right" iconPos="right"></p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>

    <!-- Step 2 -->
    <ng-container *ngIf="activeIndex === 1">
      <p-card>
        <ng-template pTemplate="title"> Work Orders </ng-template>
        <ng-template pTemplate="content">
          <p-table [value]="productsOfSelectedWOs">
            <ng-template pTemplate="header">
              <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td>{{product.name}}</td>
                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="number" [(ngModel)]="product.quantity">
                    </ng-template>
                    <ng-template pTemplate="output">
                      <ng-container *ngIf="product.quantity; else messageFillQuantity">
                        {{product.quantity}}
                      </ng-container>
                      <ng-template #messageFillQuantity>
                        Click to fill quantities
                      </ng-template>
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <button class="p-button-rounded p-button-danger" pTooltip="Remove Product" pButton pRipple
                    icon="pi pi-trash" (click)="removeProduct(product)"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-end">
            <!-- <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button> -->
            <p-button styleClass="p-button-text" label="Next" icon="pi pi-angle-right" iconPos="right"
              [disabled]="isDisableStep2()"
              (onClick)="nextPage(activeIndex)">
            </p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>

    <!-- Step 3 -->
    <ng-container *ngIf="activeIndex === 2">
      <p-card>
        <ng-template pTemplate="title"> Confirmation </ng-template>
        <ng-template pTemplate="content">
          <div class="p-fluid">
            <div class="p-field p-col-12">
              <label for="name"><b>Name</b></label>
              <p>{{ movementRequestForm.value.name }}</p>
            </div>
            <ng-container *ngIf="movementRequestForm.value.note">
              <div class="p-field p-col-12">
                <label for="note"><b>Note</b></label>
                <p>{{ movementRequestForm.value.note }}</p>
              </div>
            </ng-container>

            <p-table [value]="productsOfSelectedWOs">
              <ng-template pTemplate="header">
                <tr>
                  <th>Name</th>
                  <th>Quantity</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{product.name}}</td>
                  <td>{{product.quantity}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-end">
            <!-- <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button> -->
            <p-button
              styleClass="p-button-text"
              label="Complete"
              [disabled]="movementRequestForm.invalid"
              (onClick)="onCreate()"
              icon="pi pi-angle-right"
              iconPos="right"></p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>
  </ng-template>
</p-dialog>

<!-- Edit Movement Request Dialog -->
<p-dialog header="Edit Movement Request" styleClass="p-fluid p-w-500" [modal]="true" [(visible)]="isShowEditDialog"
  (onHide)="hideEditDialog()">
  <ng-template pTemplate="content">
    <div class="p-fluid"> Edit </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
      [disabled]="movementRequestForm.invalid" (click)="onEdit()"></button>
  </ng-template>
</p-dialog>

<!-- Delete Movement Requests Dialog -->
<p-dialog header="Delete Movement Requests" styleClass="p-fluid" [modal]="true" [(visible)]="isShowDeleteDialog"
  (onHide)="hideDeleteDialog()">
  <ng-template pTemplate="content">
    <ng-container *ngIf="currentSelectedMovementRequest && currentSelectedMovementRequest.length; else deleteMany">
      <div>Are you sure you want to delete {{ currentSelectedMovementRequest[0].id }} ?</div>
    </ng-container>
  </ng-template>

  <ng-template #deleteMany>
    <div>Are you sure you want to delete {{ selectedMovementRequests && selectedMovementRequests.length }} items ?</div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
      (click)="hideDeleteDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onDelete()"></button>
  </ng-template>
</p-dialog>
