<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button class="p-button-primary p-mr-2" pButton pRipple icon="pi pi-plus" label="Create Shipping Marks" (click)="openCreateDialog()"></button>
      <button
        class="p-button-danger p-mr-2"
        pButton
        pRipple
        icon="pi pi-trash"
        [disabled]="!selectedShippingMarks || !selectedShippingMarks.length"
        label="Delete Shipping Marks"
        (click)="openDeleteDialog()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #shippingRequestDataTable
    dataKey="id"
    styleClass="p-datatable-customers"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rows]="20"
    [columns]="cols"
    [value]="shippingMarks"
    [rowHover]="true"
    [paginator]="true"
    [showCurrentPageReport]="true"
    [resizableColumns]="true"
    [globalFilterFields]="fields"
    [(selection)]="selectedShippingMarks"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Shipping Mark</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="shippingRequestDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of columns" pResizableColumn pSortableColumn="{{ col.field }}">{{ col.header }}<p-sortIcon field="{{ col.field }}"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-shippingMark let-columns="columns">
      <tr>
        <td>
          <p-tableCheckbox [value]="shippingMark"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of columns">
          <span class="p-column-title">{{ col.header }}</span>

          <ng-container *ngIf="col.isDate; else normalField">
            {{ shippingMark[col.field] | date: 'dd/MM/yyyy' }}
          </ng-container>
          <ng-template #normalField>
            <ng-container *ngIf="col.subField; else elseTemplate">
              {{ shippingMark[col.field][col.subField] }}
            </ng-container>
            <ng-template #elseTemplate>
              {{ shippingMark[col.field] }}
            </ng-template>
          </ng-template>
        </td>
        <td>
          <button
            class="p-button-rounded p-button-success p-mr-2"
            pTooltip="Edit Shipping Mark"
            pButton
            pRipple
            icon="pi pi-pencil"
            (click)="openEditDialog(shippingMark)"
          ></button>
          <button
            class="p-button-rounded p-button-danger p-mr-2"
            pTooltip="Delete Shipping Mark"
            pButton
            pRipple
            icon="pi pi-trash"
            (click)="openDeleteDialog(shippingMark)"
          ></button>
          <button class="p-button-rounded p-button-warning" pTooltip="History Changes" pButton pRipple icon="pi pi-search"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Create Shipping Marks Dialog -->
<p-dialog header="{{ titleDialog }}" styleClass="p-fluid p-w-500" [modal]="true" [(visible)]="isShowDialog" (onHide)="hideDialog()">
  <ng-template pTemplate="content">
    <form [formGroup]="shippingMarkForm">
      <div class="form-group">
        <label for="customerId" class="control-label">Customer</label>
        <input pInputText inputId="customerId" [formControl]="customerControl" />
        <ng-container *ngIf="customerControl.invalid && (customerControl.dirty || customerControl.touched)">
          <small class="p-invalid create-user-form__error">Please specify a customer id</small>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="revision" class="control-label">Revision</label>
        <input pInputText inputId="revision" [formControl]="revisionControl" />
        <ng-container *ngIf="revisionControl.invalid && (revisionControl.dirty || revisionControl.touched)">
          <small class="p-invalid create-user-form__error">Please specify a revision</small>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="cartonNumber" class="control-label">Carton Number</label>
        <input pInputText inputId="cartonNumber" [formControl]="cartonNumberControl" />
        <ng-container *ngIf="cartonNumberControl.invalid && (cartonNumberControl.dirty || cartonNumberControl.touched)">
          <small class="p-invalid create-user-form__error">Please specify a carton number</small>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="quantity" class="control-label">Quantity</label>
        <p-inputNumber inputId="quantity" [formControl]="quantityControl"> </p-inputNumber>
        <ng-container *ngIf="quantityControl.invalid && (quantityControl.dirty || quantityControl.touched)">
          <small class="p-invalid create-user-form__error">Please enter a valid quantity</small>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="product" class="control-label">Product</label>
        <p-dropdown [options]="selectItems" [formControl]="productControl" id="product" placeholder="Select a Product" appendTo="body"></p-dropdown>
        <ng-container *ngIf="productControl.invalid && (productControl.dirty || productControl.touched)">
          <small class="p-invalid create-user-form__error">Please select product</small>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="notes" class="control-label">Notes</label>
        <input pInputText id="notes" [formControl]="notesControl" type="text" class="form-control" />
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="shippingMarkForm.invalid" (click)="onSubmit()"></button>
  </ng-template>
</p-dialog>

<!-- Delete Shipping Marks Dialog -->
<p-dialog header="Delete Shipping Marks" styleClass="p-fluid" [modal]="true" [(visible)]="isShowDeleteDialog" (onHide)="hideDeleteDialog()">
  <ng-template pTemplate="content">
    <ng-container *ngIf="currentSelectedShippingMark && currentSelectedShippingMark.length; else deleteMany">
      <div>Are you sure you want to delete {{ currentSelectedShippingMark[0].id }} ?</div>
    </ng-container>
  </ng-template>

  <ng-template #deleteMany>
    <div>Are you sure you want to delete {{ selectedShippingMarks && selectedShippingMarks.length }} items ?</div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDeleteDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onDelete()"></button>
  </ng-template>
</p-dialog>
