<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"></ng-template>
    <ng-template pTemplate="right">
      <button class="p-button-primary p-mr-2" pButton pRipple icon="pi pi-plus" label="Create"
        (click)="openCreateDialog()"></button>
      <button
        class="p-button-success p-mr-2"
        pButton
        pRipple
        icon="pi pi-pencil"
        [disabled]="!selectedUsers || !selectedUsers.length"
        label="Password"
        (click)="openSetNewPasswordDialog()"></button>
      <button
        class="p-button-danger p-mr-2"
        pButton
        pRipple
        icon="pi pi-lock"
        [disabled]="!selectedUsers || !selectedUsers.length"
        label="Lock"
        (click)="openLockDialog()"></button>
      <button
        class="p-button-help p-mr-2"
        pButton
        pRipple
        icon="pi pi-unlock"
        [disabled]="!selectedUsers || !selectedUsers.length"
        label="Unlock"
        (click)="openUnlockDialog()"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #userDataTable
    dataKey="id"
    columnResizeMode="expand"
    [value]="users"
    [rows]="20"
    [columns]="cols"
    [paginator]="true"
    [scrollable]="true"
    [globalFilterFields]="fields"
    [(selection)]="selectedUsers">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ title | uppercase }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="userDataTable.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width.px]="col.width" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn || TypeColumn.ExpandColumn">
              <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th [pSortableColumn]="col.field">
                {{ col.header }}
                <ng-container *ngIf="col.field">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">No records found</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              {{ 'WO' + user[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ user[col.field] | date: 'dd/MM/yyyy' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ user[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ user[col.field] }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Create Users Dialog -->
<p-dialog header="Create Users" styleClass="p-fluid p-w-800" [modal]="true" [(visible)]="isShowCreateDialog"
  (onHide)="hideCreateDialog()">
  <ng-template pTemplate="content">
    <form [formGroup]="createUserForm">
      <div formArrayName="userForms">
        <button class="p-button-primary create-user-form__button-create" label="New User" pButton pRipple
          icon="pi pi-plus" (click)="addUser()"></button>
        <div *ngFor="let user of createUserForm.get('userForms')['controls']; let i = index">
          <div [formGroupName]="i">
            <div class="create-user-form__group-inline p-grid">
              <div class="p-field p-col-4">
                <label for="email">Email</label>
                <input
                  [ngClass]="{
                    'ng-dirty': getControlByNameAndIndex('email', i).invalid && (getControlByNameAndIndex('email', i).dirty || getControlByNameAndIndex('email', i).touched)
                  }"
                  [formControl]="getControlByNameAndIndex('email', i)"
                  id="email"
                  type="email"
                  pInputText
                  aria-describedby="email-error" />

                <ng-container
                  *ngIf="getControlByNameAndIndex('email', i).invalid && (getControlByNameAndIndex('email', i).dirty || getControlByNameAndIndex('email', i).touched)">
                  <small class="p-invalid p-error">Please specify a valid email</small>
                </ng-container>
              </div>
              <div class="p-field p-col-3">
                <label for="userName">User Name</label>
                <input id="userName" type="text" pInputText disabled [value]="userForms.value[i].email" />
              </div>
              <div class="p-field p-col-4">
                <label for="role">Role</label>
                <p-dropdown
                  [ngClass]="{
                    'ng-dirty': getControlByNameAndIndex('roleId', i).invalid && (getControlByNameAndIndex('roleId', i).dirty || getControlByNameAndIndex('roleId', i).touched)
                  }"
                  [options]="selectItems"
                  [formControl]="getControlByNameAndIndex('roleId', i)"
                  id="role"
                  placeholder="Select a Role"
                  appendTo="body"></p-dropdown>

                <ng-container
                  *ngIf="getControlByNameAndIndex('roleId', i).invalid && (getControlByNameAndIndex('roleId', i).dirty || getControlByNameAndIndex('roleId', i).touched)">
                  <small *ngIf="getControlByNameAndIndex('roleId', i).errors.required" class="p-invalid p-error"> Please
                    specify a role </small>
                </ng-container>
              </div>
              <div class="p-field p-col-1 create-user-form__button-container">
                <ng-container *ngIf="i !== 0">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-times"
                    class="p-button-rounded p-button-danger create-user-form__button-remove"
                    icon="pi pi-times"
                    (click)="removeUser(i, userForms)"></button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
      (click)="hideCreateDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="createUserForm.invalid"
      (click)="onCreate()"></button>
  </ng-template>
</p-dialog>

<!-- Set New Password Dialog -->
<p-dialog header="Set New Password" styleClass="p-fluid p-w-800" [modal]="true" [(visible)]="isShowSetNewPassworDialog"
  (onHide)="hideSetNewPasswordDialog()">
  <ng-template pTemplate="content">
    <form [formGroup]="setNewPasswordForm">
      <div formArrayName="newPasswordForms">
        <div *ngFor="let user of setNewPasswordForm.get('newPasswordForms')['controls']; let i = index">
          <div [formGroupName]="i">
            <div class="create-user-form__group-inline p-grid">
              <div class="p-field p-col-5">
                <label for="email">Email</label>
                <input
                  id="email"
                  type="email"
                  pInputText
                  disabled
                  [ngClass]="{
                  'ng-dirty': newPasswordForms.controls[i].get('email').invalid &&
                              (newPasswordForms.controls[i].get('email').dirty || newPasswordForms.controls[i].get('email').touched) }"
                  [formControl]="newPasswordForms.controls[i].get('email')"
                  aria-describedby="email-error" />
                <ng-container
                  *ngIf="
                    newPasswordForms.controls[i].get('email').invalid &&
                    (newPasswordForms.controls[i].get('email').dirty || newPasswordForms.controls[i].get('email').touched)
                  ">
                  <small class="p-invalid p-error">Invalid Email.</small>
                </ng-container>

              </div>
              <div class="p-field p-col-6">
                <label for="confirmEmail">Confirm Email</label>
                <input
                  id="confirmEmail"
                  type="text"
                  pInputText
                  [ngClass]="{
                    'ng-dirty': newPasswordForms.controls[i].get('confirmEmail').invalid &&
                                (newPasswordForms.controls[i].get('confirmEmail').dirty || newPasswordForms.controls[i].get('confirmEmail').touched) }"
                  [formControl]="newPasswordForms.controls[i].get('confirmEmail')" />
                <ng-container
                  *ngIf="
                      newPasswordForms.controls[i].errors &&
                      newPasswordForms.controls[i].errors.matchContent &&
                      (newPasswordForms.controls[i].get('confirmEmail').dirty || newPasswordForms.controls[i].get('confirmEmail').touched)
                    ">
                  <small class="p-invalid p-error">Email not match.</small>
                </ng-container>
              </div>
              <div class="p-field p-col-1 create-user-form__button-container">
                <ng-container *ngIf="i !== 0">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-times"
                    class="p-button-rounded p-button-danger create-user-form__button-remove"
                    icon="pi pi-times"
                    (click)="removeUser(i, newPasswordForms)"></button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
      (click)="hideSetNewPasswordDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
      [disabled]="setNewPasswordForm.invalid" (click)="onSetNewPassword()"></button>
  </ng-template>
</p-dialog>
