.menu-full-width {
  width: 100%;

  .p-menuitem-link-active {
    background-color: #343a40;
    .p-menuitem-icon,
    .p-menuitem-text {
      color: #fff !important;
    }
  }

  .p-menuitem-link:not(.p-disabled):hover {
    background-color: #343a40;
    .p-menuitem-icon,
    .p-menuitem-text {
      color: #fff !important;
    }
  }
}

.p-w-500 {
  width: 500px;
}

.p-w-600 {
  width: 600px;
}

.p-w-700 {
  width: 700px;
}

.p-w-800 {
  width: 800px;
}

.p-w-1000 {
  width: 1000px;
}

.p-card-custom {
  .p-card-content {
    padding: 0px;
  }

  .p-card-body {
    padding: 1rem 0 0 0;
  }

  .p-card-footer {
    padding: 0px;
  }
}

// .p-datatable .p-datatable-thead > tr > th {
//   text-align: center !important;
// }

// .p-datatable .p-datatable-tbody > tr > td {
//   text-align: center !important;
// }
