.received-mark {
  &__expaned-table {
    th,
    td {
      border: none;
    }

    th {
      background-color: #bbe7fc;
    }

    td {
      background-color: #e0f5ff;
    }
  }
}

:host ::ng-deep .p-tabview-panels {
  padding: 0;
}
