<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"></ng-template>
    <ng-template pTemplate="right">
      <button class="p-button-primary p-mr-2" pButton pRipple icon="pi pi-plus" label="Create" (click)="openCreateDialog()"></button>
      <button
        class="p-button-success p-mr-2"
        pButton
        pRipple
        icon="pi pi-pencil"
        [disabled]="!selectedUsers || !selectedUsers.length"
        label="Password"
        (click)="openSetNewPasswordDialog()"
      ></button>
      <button
        class="p-button-danger p-mr-2"
        pButton
        pRipple
        icon="pi pi-lock"
        [disabled]="!selectedUsers || !selectedUsers.length"
        label="Lock"
        (click)="openLockDialog()"
      ></button>
      <button
        class="p-button-help p-mr-2"
        pButton
        pRipple
        icon="pi pi-unlock"
        [disabled]="!selectedUsers || !selectedUsers.length"
        label="Unlock"
        (click)="openUnlockDialog()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #userDataTable
    dataKey="id"
    columnResizeMode="expand"
    [value]="users"
    [rows]="20"
    [columns]="cols"
    [paginator]="true"
    [scrollable]="true"
    [globalFilterFields]="fields"
    [(selection)]="selectedUsers"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ title | uppercase }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="userDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width.px]="col.width" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn || TypeColumn.ExpandColumn">
              <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th [pSortableColumn]="col.field">
                {{ col.header }}
                <ng-container *ngIf="col.field">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">No records found</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              {{ user[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ user[col.field] | date: 'dd/MM/yyyy' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ user[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ user[col.field] }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [closeOnEscape]="true" header="Create Users" styleClass="p-fluid p-w-800" [modal]="true" [(visible)]="isShowCreateDialog" (onHide)="hideCreateDialog()">
  <ng-template pTemplate="content">
    <p-toolbar styleClass="p-mb-2">
      <ng-template pTemplate="left">
        <button class="p-button-primary" label="Add User" pButton pRipple icon="pi pi-plus" (click)="addUser()"></button>
      </ng-template>
    </p-toolbar>

    <ng-container *ngIf="(errorUsers && errorUsers.length > 0) || hasDuplicateUsers">
      <p-toolbar styleClass="p-mb-2 create-user-form__error-toolbar">
        <ng-template pTemplate="left">
          <ul class="create-user-form__error-list">
            <li *ngIf="hasDuplicateUsers">Has duplicate emails</li>
            <li *ngFor="let user of errorUsers">
              <ng-container *ngIf="!user.isValidEmail"> {{ user.email }} is invalid email </ng-container>
              <ng-container *ngIf="user.hasExistedEmail"> {{ user.email }} already exists </ng-container>
              <ng-container *ngIf="user.isDuplicateEmail"> {{ user.email }} is duplicate email </ng-container>
            </li>
          </ul>
        </ng-template>
      </p-toolbar>
    </ng-container>

    <p-table [value]="newUsers" dataKey="id" editMode="row">
      <ng-template pTemplate="header">
        <tr>
          <th>Email<span class="p-invalid"> *</span></th>
          <th>UserName</th>
          <th>Role</th>
          <th style="width: 8rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="item">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="item.email" (ngModelChange)="handleOnInputEmail(item)" placeholder="email@example.com" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ item.email }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            {{ item.userName ? item.userName : 'Username' }}
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="selectRoleItems" appendTo="body" [(ngModel)]="item.roleName" [style]="{ width: '100%' }"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{ item.roleName }}
              </ng-template>
            </p-cellEditor>
          </td>

          <td style="text-align: center">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(item)"
              class="p-button-rounded p-button-text p-mr-2"
            ></button>

            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-times" (click)="onRowDelete(item)" class="p-button-rounded p-button-text"></button>

            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(item)"
              class="p-button-rounded p-button-text p-button-success p-mr-2"
            ></button>

            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(item, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div class="p-text-left p-mt-4">Notes: <span class="p-text-bold"> Please change the example email to specific email.</span></div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="p-grid p-nogutter p-justify-between">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="!allowCreateUsers(newUsers)" (click)="onCreate()"></button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  [closeOnEscape]="true"
  header="Reset User Password"
  styleClass="p-fluid p-w-800"
  [modal]="true"
  [(visible)]="isShowSetNewPassworDialog"
  (onHide)="hideSetNewPasswordDialog()"
>
  <ng-template pTemplate="content">
    <form [formGroup]="setNewPasswordForm">
      <div formArrayName="newPasswordForms">
        <div *ngFor="let user of setNewPasswordForm.get('newPasswordForms')['controls']; let i = index">
          <div [formGroupName]="i">
            <div class="create-user-form__group-inline p-grid">
              <div class="p-field p-col-5">
                <label for="userName">Username</label>
                <input id="userName" type="text" pInputText disabled [formControl]="newPasswordForms.controls[i].get('userName')" aria-describedby="email-error" />
              </div>

              <div class="p-field p-col-6">
                <label for="confirmEmail">Confirm Email<span class="p-invalid"> *</span></label>
                <input
                  id="confirmEmail"
                  type="text"
                  pInputText
                  [ngClass]="{
                    'ng-dirty':
                      newPasswordForms.controls[i].get('confirmEmail').invalid &&
                      (newPasswordForms.controls[i].get('confirmEmail').dirty || newPasswordForms.controls[i].get('confirmEmail').touched)
                  }"
                  [formControl]="newPasswordForms.controls[i].get('confirmEmail')"
                />
                <ng-container
                  *ngIf="
                    newPasswordForms.controls[i].get('confirmEmail').invalid &&
                    (newPasswordForms.controls[i].get('confirmEmail').dirty || newPasswordForms.controls[i].get('confirmEmail').touched)
                  "
                >
                  <ng-container *ngIf="newPasswordForms.controls[i].get('confirmEmail').errors && newPasswordForms.controls[i].get('confirmEmail').errors.required">
                    <small class="p-invalid p-error">Please confirm the email you want to reset password</small>
                  </ng-container>
                  <ng-container *ngIf="newPasswordForms.controls[i].get('confirmEmail').errors && newPasswordForms.controls[i].get('confirmEmail').errors.matchContent">
                    <small class="p-invalid create-user-form__error">Email not match.</small>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="p-grid p-nogutter p-justify-between">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideSetNewPasswordDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="setNewPasswordForm.invalid" (click)="onSetNewPassword()"></button>
    </div>
  </ng-template>
</p-dialog>
