.create-user-form {
  &__group-inline {
    .p-field:first-child {
      margin-left: 0px;
    }

    button:last-child {
      margin-right: 0px;
    }
  }

  &__button-create {
    height: 40px;
    width: 150px;
    margin-bottom: 30px;
  }

  &__button-container {
    display: flex;
    align-items: flex-end;
  }

  &__button-remove {
    height: 40px;
    margin-bottom: 3px;
  }

  &__error {
    padding-top: 3px;
  }

  &__error-list {
    margin-bottom: 0px;
  }
}

p-toolbar {
  ::ng-deep .create-user-form__error-toolbar {
    border: 1px solid #ff0000;
    background-color: #ff000021;
  }
}
