<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <button class="p-button-info p-mr-2" pButton pRipple icon="pi pi-plus" label="Create" (click)="openCreateDialog()"></button>
      <button
        class="p-button-danger p-mr-2"
        pButton
        pRipple
        icon="pi pi-trash"
        label="Delete"
        [disabled]="!selectedWorkOrder"
        (click)="openDeleteDialog(selectedWorkOrder)"
      ></button>

      <button class="p-button-success p-mr-2" pButton pRipple label="Edit" icon="pi pi-pencil" [disabled]="!selectedWorkOrder" (click)="openEditDialog(selectedWorkOrder)"></button>

      <button class="p-button-warning" pButton pRipple icon="pi pi-search" [disabled]="!selectedWorkOrder" label="History"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #workOrderDataTable
    dataKey="id"
    [columns]="cols"
    [value]="workOrders"
    [globalFilterFields]="fields"
    [paginator]="true"
    [rows]="20"
    selectionMode="single"
    [resizableColumns]="true"
    [(selection)]="selectedWorkOrder"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ title }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="workOrderDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn || TypeColumn.ExpandColumn">
              <th [style.width.px]="col.width"></th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th [style.width.px]="col.width" pResizableColumn [pSortableColumn]="col.field">
                {{ col.header }}
                <ng-container *ngIf="col.field">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-workOrder let-columns="columns" let-expanded="expanded">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableRadioButton [value]="workOrder"></p-tableRadioButton>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              {{ 'WO' + workOrder[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ workOrder[col.field] | date: 'dd/MM/yyyy' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ workOrder[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ workOrder[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.ExpandColumn">
              <button
                type="button"
                pButton
                pRipple
                (click)="getDetailWorkOrder(workOrder)"
                [pRowToggler]="workOrder"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-ellipsis-v' : 'pi pi-ellipsis-h'"
              ></button>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-workOrder>
      <tr>
        <td colspan="7" class="work-order__expaned">
          <div>
            <p-table class="work-order__expaned-table" [value]="workOrder.workOrderDetails">
              <ng-template pTemplate="header">
                <tr>
                  d
                  <th>Product Number</th>
                  <th>Product Name</th>
                  <th>Quantity</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-detail>
                <tr>
                  <td>{{ detail?.product?.productNumber }}</td>
                  <td>{{ detail?.product?.productName }}</td>
                  <td>{{ detail?.quantity }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-work-order-create
  [workOrderForm]="workOrderForm"
  [titleDialog]="titleDialog"
  [products]="products"
  [isShowDialog]="isShowDialogCreate"
  (submitEvent)="onSubmit()"
  (hideDialogEvent)="hideDialog()"
></app-work-order-create>

<app-work-order-edit
  [workOrder]="selectedWorkOrder"
  [workOrderForm]="workOrderForm"
  [titleDialog]="titleDialog"
  [isShowDialog]="isShowDialogEdit"
  (submitEvent)="onSubmit()"
  (hideDialogEvent)="hideDialog()"
></app-work-order-edit>
