<table>
  <thead>
    <tr>
      <td>
        <div class="header-space"></div>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="content">
          <div>title: {{ title }}</div>
          <div>SPARTON VIETNAM</div>
          <div>Company infor: No.3, street No.6, VSIP1, Thuan An, Binh Duong, Viet Nam</div>
          <div>P/N: 0670-00-1182-SHEN</div>
          <div>QTY: 9</div>
          <div>REV: E</div>
          <div>DATE: 09-12-20</div>
          <div>REFID ( Received Mark ID/ Shipping Request ID/ PO): 2001835048</div>
          <div>Carton Number (Sequence): </div>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <div class="footer-space"></div>
      </td>
    </tr>
  </tfoot>
</table>
