html,
body,
h1,
h2,
h3,
h4,
p,
img {
  margin: 0;
}

.print {
  &__content {
    width: 130mm;
  }

  &__header {
    margin-bottom: 10px;
  }

  &__company-name {
    line-height: 50px;
    font-size: 35px;
  }

  &__identity {
    font-weight: bold;
  }

  &__value {
    padding-left: 10px;
    font-size: 24px;
  }

  &__value__shipping {
    font-size: 8px;
  }

  &__detail {
    font-size: 20px;
    line-height: normal;
  }
}

@media screen {
  :host {
    display: none;
  }
}

.shipping-mark {
  .print-label {
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    padding-right: 5px;
  }

  .company-name {
    font-size: 28px;
    // line-height: 50px;
  }

  .print-value {
    font-size: 18px;
    // line-height: 50px;
    text-align: left;
    font-weight: bold;
  }
}
