<p-dialog [header]="titleDialog" styleClass="p-fluid p-w-1000" [modal]="true" [(visible)]="isShowDialog" (onHide)="hideDialog()">
  <ng-template pTemplate="content">
    <p-steps [model]="stepItems" [activeIndex]="stepIndex"></p-steps>

    <ng-container *ngIf="stepIndex === 0">
      <p-card>
        <ng-template pTemplate="content">
          <p-table [value]="workOrderDetails" dataKey="product.id" editMode="row">
            <ng-template pTemplate="header">
              <tr>
                <th>Product Number</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th style="width: 10rem"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-workOrderDetail let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="workOrderDetail">
                <td>
                  {{ workOrderDetail?.product?.productNumber }}
                </td>
                <td>
                  {{ workOrderDetail?.product?.productName }}
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-inputNumber [(ngModel)]="workOrderDetail.quantity" required></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ workOrderDetail?.quantity | number}}
                    </ng-template>
                  </p-cellEditor>
                </td>

                <td style="text-align: center">
                  <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-pencil"
                    (click)="onRowEditInit(workOrderDetail)"
                    class="p-button-rounded p-button-text"
                  ></button>

                  <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-times"
                    (click)="onRowDelete(workOrderDetail)"
                    class="p-button-rounded p-button-text"
                  ></button>

                  <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pSaveEditableRow
                    icon="pi pi-check"
                    (click)="onRowEditSave(workOrderDetail)"
                    class="p-button-rounded p-button-text p-button-success p-mr-2"
                  ></button>
                  <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pCancelEditableRow
                    icon="pi pi-times"
                    (click)="onRowEditCancel(workOrderDetail, ri)"
                    class="p-button-rounded p-button-text p-button-danger"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-between">
            <p-button styleClass="p-button-text" label="Back" (onClick)="prevPage()" iconPos="left" icon="pi pi-angle-left"></p-button>
            <p-button
              [disabled]="!checkModifiedQuantity(workOrderDetails)"
              styleClass="p-button-text"
              label="Submit"
              (onClick)="nextPage(stepIndex)"
              icon="pi pi-angle-right"
              iconPos="right"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>

    <ng-container *ngIf="stepIndex === 1">
      <form [formGroup]="workOrderForm">
        <p-card>
          <ng-template pTemplate="content">
            <div class="p-field">
              <label for="refId">Reference Id</label>
              <input pInputText id="refId" [formControl]="refIdControl" type="text" />
            </div>

            <div class="p-field">
              <label for="notes">Notes</label>
              <input pInputText id="notes" [formControl]="notesControl" type="text" />
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-between">
              <p-button styleClass="p-button-text" label="Back" (onClick)="prevPage()" iconPos="left" icon="pi pi-angle-left"></p-button>
              <p-button [disabled]="workOrderForm.invalid" styleClass="p-button-text" label="Submit" (onClick)="onSubmit()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
          </ng-template>
        </p-card>
      </form>
    </ng-container>
  </ng-template>
</p-dialog>
