<p-dialog styleClass="p-fluid w-83" [position]="'right'" [header]="titleDialog" [modal]="true" [(visible)]="isShowDialog" (onHide)="hideDialog()">
  <ng-template pTemplate="content">
    <form [formGroup]="shippingRequestDocumentsForm">
      <div class="p-grid">
        <div class="p-field p-col-2">
          <div>Customer Name</div>
          <strong>{{ selectedShippingRequestDetail?.shippingRequest?.customerName }}</strong>
        </div>

        <div class="p-field p-col-4">
          <div>Purchase Order</div>
          <strong>{{ selectedShippingRequestDetail?.shippingRequest?.purchaseOrder }}</strong>
        </div>

        <div class="p-field p-col-2">
          <div>Account Number</div>
          <strong>{{ selectedShippingRequestDetail?.shippingRequest?.accountNumber }}</strong>
        </div>

        <div class="p-field p-col-4">
          <div>Shipping Date</div>
          <strong>{{ selectedShippingRequestDetail?.shippingRequest?.shippingDate | date: 'dd/MM/yyyy' }}</strong>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-field p-col-2">
          <div>Bill To</div>
          <strong>{{ selectedShippingRequestDetail?.shippingRequest?.billTo }}</strong>
        </div>

        <div class="p-field p-col-4">
          <div>Bill To Address</div>
          <strong>{{ selectedShippingRequestDetail?.shippingRequest?.billToAddress }}</strong>
        </div>

        <div class="p-field p-col-2">
          <div>Ship To</div>
          <strong>{{ selectedShippingRequestDetail?.shippingRequest?.shipTo }}</strong>
        </div>

        <div class="p-field p-col-4">
          <div>Ship To Address</div>
          <strong>{{ selectedShippingRequestDetail?.shippingRequest?.shipToAddress }}</strong>
        </div>
      </div>

      <div class="shipping-request-document__border-top-group">
        <div class="p-field p-mt-20">
          <label for="customDeclarationNumber">Customs Declaration Number</label>
          <input pInputText id="customDeclarationNumber" [formControl]="customDeclarationNumberControl" type="text" />
        </div>

        <div class="p-grid">
          <div class="p-field p-col-6">
            <label for="grossWeight">Gross Weight (Kg)</label>
            <p-inputNumber id="grossWeight" [formControl]="grossWeightControl"> </p-inputNumber>
          </div>

          <div class="p-field p-col-6">
            <label for="netWeight">Net Weight (Kg)</label>
            <p-inputNumber id="netWeight" [formControl]="netWeightControl"> </p-inputNumber>
          </div>
        </div>

        <div class="p-field">
          <label for="trackingNumber">Tracking Number</label>
          <input pInputText id="trackingNumber" [formControl]="trackingNumberControl" type="text" />
        </div>

        <div class="p-field">
          <label for="forwarder">Forwarder</label>
          <input pInputText id="forwarder" [formControl]="forwarderControl" type="text" />
        </div>

        <div class="p-field">
          <label for="dimension">Dimension</label>
          <input pInputText id="dimension" [formControl]="dimensionControl" type="text" />
        </div>

        <div class="p-field">
          <label for="notes">Notes</label>
          <textarea id="notes" pInputTextarea [rows]="3" [formControl]="notesControl"></textarea>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="p-grid p-nogutter p-justify-between">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="shippingRequestDocumentsForm.invalid" (click)="onSubmit()"></button>
    </div>
  </ng-template>
</p-dialog>
