<p-dialog styleClass="p-fluid w-83" [position]="'right'" [header]="titleDialog" [modal]="true" [(visible)]="isShowDialog" (onHide)="hideDialog()">
  <ng-template pTemplate="content">
    <form [formGroup]="shippingRequestDocumentsForm">
      <div class="p-grid">
        <div class="p-field p-col-3">
          <div>Purchase Order</div>
          <div>{{ selectedShippingRequestDetail.purchaseOrder }}</div>
        </div>
        <div class="p-field p-col-3">
          <div>Customer Name</div>
          <div>{{ selectedShippingRequestDetail.customerName }}</div>
        </div>
        <div class="p-field p-col-3">
          <div>Semline Number</div>
          <div>{{ selectedShippingRequestDetail.semlineNumber }}</div>
        </div>
        <div class="p-field p-col-3">
          <div>Shipping Date</div>
          <div>{{ selectedShippingRequestDetail.shippingDate | date: 'dd/MM/yyyy' }}</div>
        </div>
      </div>

      <div class="shipping-request-document__border-top-group">
        <div class="p-field p-mt-20">
          <label for="customDeclarationNumber">Customs Declaration Number</label>
          <input pInputText id="customDeclarationNumber" [formControl]="customDeclarationNumberControl" type="text" />
        </div>

        <div class="p-grid">
          <div class="p-field p-col-6">
            <label for="grossWeight">Gross Weight (Kg)</label>
            <p-inputNumber id="grossWeight" [formControl]="grossWeightControl"> </p-inputNumber>
          </div>

          <div class="p-field p-col-6">
            <label for="netWeight">Net Weight (Kg)</label>
            <p-inputNumber id="netWeight" [formControl]="netWeightControl"> </p-inputNumber>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-field p-col-6">
            <label for="billTo">Bill To</label>
            <input pInputText id="billTo" [formControl]="billToControl" type="text" />
          </div>

          <div class="p-field p-col-6">
            <label for="billToAddress">Bill To Address</label>
            <input pInputText id="billToAddress" [formControl]="billToAddressControl" type="text" />
          </div>
        </div>

        <div class="p-grid">
          <div class="p-field p-col-6">
            <label for="shipTo">Ship To</label>
            <input pInputText id="shipTo" [formControl]="shipToControl" type="text" />
          </div>

          <div class="p-field p-col-6">
            <label for="shipToAddress">Ship To Address</label>
            <input pInputText id="shipToAddress" [formControl]="shipToAddressControl" type="text" />
          </div>
        </div>

        <div class="p-field">
          <label for="trackingNumber">Tracking Number</label>
          <input pInputText id="trackingNumber" [formControl]="trackingNumberControl" type="text" />
        </div>

        <div class="p-field">
          <label for="forwarder">Forwarder</label>
          <input pInputText id="forwarder" [formControl]="forwarderControl" type="text" />
        </div>

        <div class="p-field">
          <label for="dimension">Dimension</label>
          <input pInputText id="dimension" [formControl]="dimensionControl" type="text" />
        </div>

        <div class="p-field">
          <label for="notes">Notes</label>
          <textarea id="notes" pInputTextarea [rows]="3" [formControl]="notesControl"></textarea>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="p-grid p-nogutter p-justify-between">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="shippingRequestDocumentsForm.invalid" (click)="onSubmit()"></button>
    </div>
  </ng-template>
</p-dialog>
