<p-dialog [position]="'right'" [header]="titleDialog" styleClass="p-fluid w-83" [modal]="true" [(visible)]="isShowDialog" (onHide)="hideDialog()">
  <ng-template pTemplate="content">
    <p-steps [model]="stepItems" [activeIndex]="stepIndex"></p-steps>

    <ng-container *ngIf="stepIndex === 0">
      <p-card>
        <ng-template pTemplate="content">
          <div class="p-field">
            <label for="customerName">Shipping Plan</label>
            <p-dropdown
              styleClass="p-dropdown-custom"
              appendTo="body"
              filterBy="label"
              placeholder="Please select a Shipping Plan"
              [filter]="true"
              [showClear]="true"
              [options]="_mapToSelectShippingPlanItem(shippingPlans)"
              (onChange)="handleOnSelectShippingPlan($event.value)"
            >
            </p-dropdown>
          </div>
        </ng-template>

        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-between">
            <p-button styleClass="p-button-text" label="Cancel" (onClick)="hideDialog()" iconPos="left" icon="pi pi-times"></p-button>
            <p-button styleClass="p-button-text" label="Next" (onClick)="nextPage(stepIndex)" icon="pi pi-angle-right" iconPos="right"></p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>

    <ng-container *ngIf="stepIndex === 1">
      <p-card>
        <ng-template pTemplate="content">
          <form [formGroup]="shippingRequestForm">
            <div class="p-grid p-fluid">
              <div class="p-col-12">
                <div class="p-field">
                  <label for="customerName">Customer Name<span class="p-invalid"> *</span></label>
                  <input
                    [ngClass]="{ 'ng-dirty': customerNameControl.invalid && (customerNameControl.dirty || customerNameControl.touched) }"
                    pInputText
                    id="customerName"
                    [formControl]="customerNameControl"
                    type="text"
                  />
                  <ng-container *ngIf="customerNameControl.invalid && (customerNameControl.dirty || customerNameControl.touched)">
                    <small class="p-invalid p-error">Please specify a customer name</small>
                  </ng-container>
                </div>
              </div>

              <div class="p-col-12">
                <div class="p-field">
                  <label for="semlineNumber">Semline Number<span class="p-invalid"> *</span></label>
                  <input
                    [ngClass]="{ 'ng-dirty': semlineNumberControl.invalid && (semlineNumberControl.dirty || semlineNumberControl.touched) }"
                    pInputText
                    [formControl]="semlineNumberControl"
                    id="semlineNumber"
                    type="text"
                  />

                  <ng-container *ngIf="semlineNumberControl.invalid && (semlineNumberControl.dirty || semlineNumberControl.touched)">
                    <small class="p-invalid p-error">Please specify a semline number</small>
                  </ng-container>
                </div>
              </div>

              <div class="p-col-6">
                <div class="p-field">
                  <label for="shippingMode">Purchase Order<span class="p-invalid"> *</span></label>
                  <input
                    [ngClass]="{ 'ng-dirty': purchaseOrderControl.invalid && (purchaseOrderControl.dirty || purchaseOrderControl.touched) }"
                    pInputText
                    id="shippingMode"
                    [formControl]="purchaseOrderControl"
                    type="text"
                  />

                  <ng-container *ngIf="purchaseOrderControl.invalid && (purchaseOrderControl.dirty || purchaseOrderControl.touched)">
                    <small class="p-invalid p-error">Please specify a purchase order</small>
                  </ng-container>
                </div>
              </div>

              <div class="p-col-6">
                <div class="p-field">
                  <label for="shippingDate">Shipping Date<span class="p-invalid"> *</span></label>
                  <p-calendar
                    [ngClass]="{ 'ng-dirty': shippingDateControl.invalid && (shippingDateControl.dirty || shippingDateControl.touched) }"
                    id="shippingDate"
                    [formControl]="shippingDateControl"
                    appendTo="body"
                  ></p-calendar>

                  <ng-container *ngIf="shippingDateControl.invalid && (shippingDateControl.dirty || shippingDateControl.touched)">
                    <small class="p-invalid p-error">Please select shipping date</small>
                  </ng-container>
                </div>
              </div>

              <div class="p-col-12">
                <div class="p-field">
                  <label for="salesId">Sales Id<span class="p-invalid"> *</span></label>
                  <input
                    [ngClass]="{ 'ng-dirty': salesIdControl.invalid && (salesIdControl.dirty || salesIdControl.touched) }"
                    pInputText
                    id="salesId"
                    [formControl]="salesIdControl"
                    type="text"
                  />
                  <ng-container *ngIf="salesIdControl.invalid && (salesIdControl.dirty || salesIdControl.touched)">
                    <small class="p-invalid p-error">Please specify a sales id</small>
                  </ng-container>
                </div>
              </div>

              <div class="p-col-12">
                <div class="p-field">
                  <label for="notes">Notes</label>
                  <textarea id="notes" pInputTextarea [rows]="3" [formControl]="notesControl"></textarea>
                </div>
              </div>
            </div>
          </form>
        </ng-template>

        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-between">
            <p-button styleClass="p-button-text" label="Cancel" (onClick)="prevPage(stepIndex)" iconPos="left" icon="pi pi-angle-left"></p-button>
            <p-button
              [disabled]="shippingRequestForm.invalid"
              styleClass="p-button-text"
              label="Next"
              (onClick)="nextPage(stepIndex)"
              icon="pi pi-angle-right"
              iconPos="right"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>

    <ng-container *ngIf="stepIndex === 2">
      <p-card>
        <ng-template pTemplate="content">
          <p-table
            #productsDataTable
            dataKey="id"
            [columns]="productCols"
            [value]="products"
            [globalFilterFields]="productFields"
            [(selection)]="selectedProducts"
            [paginator]="true"
            [rows]="10"
            scrollHeight="350px"
          >
            <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">{{ 'Products' | uppercase }}</h5>
                <div class="p-input-icon-left shipping-request-create__search">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="productsDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </div>
              </div>
            </ng-template>

            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col [style.width.px]="col.width" *ngFor="let col of columns" />
              </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <ng-container *ngFor="let col of columns">
                  <ng-container [ngSwitch]="col.type">
                    <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
                      <th>
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <th [pSortableColumn]="col.field">
                        {{ col.header }}
                        <ng-container *ngIf="col.field">
                          <p-sortIcon [field]="col.field"></p-sortIcon>
                        </ng-container>
                      </th>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-product let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  <ng-container [ngSwitch]="col.type">
                    <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
                      <p-tableCheckbox [value]="product"></p-tableCheckbox>
                    </ng-container>
                    <ng-container *ngSwitchCase="TypeColumn.DateColumn">
                      {{ product[col.field] | date: 'dd/MM/yyyy' }}
                    </ng-container>
                    <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
                      {{ product[col.field][col.subField] }}
                    </ng-container>
                    <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
                      {{ product[col.field] }}
                    </ng-container>
                  </ng-container>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-between">
            <p-button styleClass="p-button-text" label="Back" (onClick)="prevPage()" iconPos="left" icon="pi pi-angle-left"></p-button>
            <p-button
              [disabled]="selectedProducts && selectedProducts.length === 0"
              styleClass="p-button-text"
              label="Next"
              (onClick)="nextPage(stepIndex)"
              icon="pi pi-angle-right"
              iconPos="right"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>

    <ng-container *ngIf="stepIndex === 3">
      <p-card>
        <ng-template pTemplate="content">
          <p-table [value]="shippingRequestDetails" dataKey="product.id" editMode="row">
            <ng-template pTemplate="header">
              <tr>
                <th class="p-text-center">Product Number</th>
                <th class="p-text-center">Description</th>
                <th class="p-text-center">Qty/ Pkg</th>
                <th class="p-text-center">Quantity<span class="p-invalid"> *</span></th>
                <th class="p-text-center">Price (USD)<span class="p-invalid"> *</span></th>
                <th class="p-text-center">Amount (USD)</th>
                <th class="p-text-center">Shipping Mode</th>
                <th style="width: 10rem"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="item">
                <td>
                  {{ item?.product?.productNumber }}
                </td>
                <td>
                  {{ item?.product?.productName }}
                </td>

                <td class="p-text-center">
                  {{ item?.product?.qtyPerPackage }}
                </td>

                <td class="p-text-center">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-inputNumber [(ngModel)]="item.quantity" required></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ item?.quantity | number }}
                    </ng-template>
                  </p-cellEditor>
                </td>

                <td class="p-text-center">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-inputNumber [(ngModel)]="item.price" required mode="decimal"></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ item?.price | number }}
                    </ng-template>
                  </p-cellEditor>
                </td>

                <td class="p-text-center">
                  {{ item?.amount | number }}
                </td>

                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input type="text" pInputText [(ngModel)]="item.shippingMode" />
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ item?.shippingMode }}
                    </ng-template>
                  </p-cellEditor>
                </td>

                <td class="p-text-center">
                  <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-pencil"
                    (click)="onRowEditInit(item)"
                    class="p-button-rounded p-button-text"
                  ></button>

                  <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-times"
                    (click)="onRowDelete(item)"
                    class="p-button-rounded p-button-text"
                  ></button>

                  <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pSaveEditableRow
                    icon="pi pi-check"
                    (click)="onRowEditSave(item)"
                    class="p-button-rounded p-button-text p-button-success p-mr-2"
                  ></button>
                  <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pCancelEditableRow
                    icon="pi pi-times"
                    (click)="onRowEditCancel(item, ri)"
                    class="p-button-rounded p-button-text p-button-danger"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-between">
            <p-button styleClass="p-button-text" label="Back" (onClick)="prevPage()" iconPos="left" icon="pi pi-angle-left"></p-button>
            <p-button
              [disabled]="!allowMoveToCompleteStep(shippingRequestDetails)"
              styleClass="p-button-text"
              label="Next"
              (onClick)="nextPage(stepIndex)"
              icon="pi pi-angle-right"
              iconPos="right"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>

    <ng-container *ngIf="stepIndex === 4">
      <p-card>
        <ng-template pTemplate="content">
          <p-table dataKey="id" [value]="shippingRequestDetails">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="p-text-center">Product Number</th>
                <th class="p-text-center">Description</th>
                <th class="p-text-center">Qty/ Pkg</th>
                <th class="p-text-center">Quantity</th>
                <th class="p-text-center">Price (USD)</th>
                <th class="p-text-center">Amount (USD)</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item>
              <tr>
                <td>
                  {{ item?.product?.productNumber }}
                </td>
                <td>
                  {{ item?.product?.productName }}
                </td>

                <td class="p-text-center">
                  {{ item?.product?.qtyPerPackage }}
                </td>

                <td class="p-text-center">
                  {{ item?.quantity | number }}
                </td>
                <td class="p-text-center">
                  {{ item?.price | number }}
                </td>
                <td>
                  {{ item?.amount | number }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-between">
            <p-button styleClass="p-button-text" label="Back" (onClick)="prevPage()" iconPos="left" icon="pi pi-angle-left"></p-button>
            <p-button
              [disabled]="shippingRequestForm.invalid"
              styleClass="p-button-text"
              label="Confirm"
              (onClick)="onSubmit()"
              icon="pi pi-angle-right"
              iconPos="right"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>
  </ng-template>
</p-dialog>
