<p-dialog [closeOnEscape]="true" [position]="'right'" [header]="titleDialog" styleClass="p-fluid w-83" [modal]="true" [(visible)]="isShowDialog" (onHide)="hideDialog()">
  <ng-template pTemplate="content">
    <p-steps [model]="stepItems" [activeIndex]="stepIndex"></p-steps>

    <ng-container *ngIf="stepIndex === 0">
      <p-card>
        <ng-template pTemplate="content">
          <form [formGroup]="movementRequestForm">
            <div class="p-field">
              <label for="movementRequests" class="control-label">Work Orders </label><span class="p-invalid"> *</span>
              <p-multiSelect
                [ngClass]="{ 'ng-dirty': workOrdersControl.invalid && (workOrdersControl.dirty || workOrdersControl.touched) }"
                [options]="selectItems"
                [formControl]="workOrdersControl"
                defaultLabel="Select Work Orders"
                appendTo="body"
              >
              </p-multiSelect>
              <ng-container *ngIf="workOrdersControl.invalid && (workOrdersControl.dirty || workOrdersControl.touched)">
                <small class="p-invalid p-error">Please select Work Order</small>
              </ng-container>
            </div>

            <div class="p-field">
              <label for="notes">Notes</label>
              <textarea id="notes" pInputTextarea [rows]="3" [formControl]="notesControl"></textarea>
            </div>
          </form>
        </ng-template>

        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-between">
            <p-button styleClass="p-button-text" label="Cancel" (onClick)="hideDialog()" iconPos="left" icon="pi pi-times"></p-button>
            <p-button
              [disabled]="movementRequestForm.invalid"
              styleClass="p-button-text"
              label="Next"
              (onClick)="nextPage(stepIndex)"
              icon="pi pi-angle-right"
              iconPos="right"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>

    <ng-container *ngIf="stepIndex === 1">
      <p-card>
        <ng-template pTemplate="content">
          <p-table dataKey="id" [value]="movementRequestDetails" editMode="row">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="p-text-center">Work Order Id</th>
                <th class="p-text-center">Product Number</th>
                <th class="p-text-center">Description</th>
                <th class="p-text-center">Qty/ Pkg</th>
                <th class="p-text-center">Shipping Direct</th>
                <th class="p-text-center">Work Order Quantity</th>
                <th class="p-text-center">Remain Quantity</th>
                <th class="p-text-center">Movement Quantity<span class="p-invalid"> *</span></th>
                <th style="width: 10rem"></th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-movementRequestDetail let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="movementRequestDetail">
                <td>{{ movementRequestDetail?.workOrder?.refId }}</td>
                <td>
                  {{ movementRequestDetail?.product?.productNumber }}
                </td>
                <td>
                  {{ movementRequestDetail?.product?.productName }}
                </td>

                <td class="p-text-center">
                  {{ movementRequestDetail?.product?.qtyPerPackage | number }}
                </td>

                <td class="p-text-center">
                  <p-inputSwitch [(ngModel)]="movementRequestDetail.isDirect"></p-inputSwitch>
                </td>

                <td class="p-text-center">
                  {{ movementRequestDetail?.workOrder?.workOrderDetail?.quantity | number }}
                </td>

                <td class="p-text-center">
                  {{ movementRequestDetail?.workOrder?.remainQuantity | number }}
                </td>

                <td class="p-text-center">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-inputNumber [(ngModel)]="movementRequestDetail.quantity" required></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ movementRequestDetail?.quantity | number }}
                    </ng-template>
                  </p-cellEditor>
                </td>

                <td class="p-text-center">
                  <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-pencil"
                    (click)="onRowEditInit(movementRequestDetail)"
                    class="p-button-rounded p-button-text"
                  ></button>

                  <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-times"
                    (click)="onRowDelete(movementRequestDetail)"
                    class="p-button-rounded p-button-text"
                  ></button>

                  <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pSaveEditableRow
                    icon="pi pi-check"
                    [disabled]="!movementRequestDetail.quantity"
                    (click)="onRowEditSave(movementRequestDetail)"
                    class="p-button-rounded p-button-text p-button-success p-mr-2"
                  ></button>
                  <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pCancelEditableRow
                    icon="pi pi-times"
                    (click)="onRowEditCancel(movementRequestDetail, ri)"
                    class="p-button-rounded p-button-text p-button-danger"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-between">
            <p-button styleClass="p-button-text" label="Back" (onClick)="prevPage()" iconPos="left" icon="pi pi-angle-left"></p-button>
            <p-button
              [disabled]="!allowMoveToCompleteStep(movementRequestDetails)"
              styleClass="p-button-text"
              label="Submit"
              (onClick)="nextPage(stepIndex)"
              icon="pi pi-angle-right"
              iconPos="right"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>

    <ng-container *ngIf="stepIndex === 2">
      <p-card>
        <ng-template pTemplate="content">
          <p-table dataKey="id" [value]="movementRequestDetails">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="p-text-center">Work Order Id</th>
                <th class="p-text-center">Product Number</th>
                <th class="p-text-center">Description</th>
                <th class="p-text-center">Qty/ Pkg</th>
                <th class="p-text-center">Shipping Direct</th>
                <th class="p-text-center">Work Order Quantity</th>
                <th class="p-text-center">Remain Quantity</th>
                <th class="p-text-center">Movement Quantity</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-movementRequestDetail>
              <tr>
                <td>{{ movementRequestDetail?.workOrder?.refId }}</td>
                <td>
                  {{ movementRequestDetail?.product?.productNumber }}
                </td>
                <td>
                  {{ movementRequestDetail?.product?.productName }}
                </td>
                <td class="p-text-center">
                  {{ movementRequestDetail?.product?.qtyPerPackage | number }}
                </td>

                <td class="p-text-center">
                  <p-inputSwitch [(ngModel)]="movementRequestDetail.isDirect" [readonly]="true"></p-inputSwitch>
                </td>

                <td class="p-text-center">
                  {{ movementRequestDetail?.workOrder?.workOrderDetail?.quantity | number }}
                </td>

                <td class="p-text-center">
                  {{ movementRequestDetail?.workOrder?.remainQuantity | number }}
                </td>

                <td class="p-text-center">
                  {{ movementRequestDetail?.quantity | number }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-between">
            <p-button styleClass="p-button-text" label="Back" (onClick)="prevPage()" iconPos="left" icon="pi pi-angle-left"></p-button>
            <p-button
              [disabled]="movementRequestForm.invalid"
              styleClass="p-button-text"
              label="Complete"
              (onClick)="onSubmit()"
              icon="pi pi-angle-right"
              iconPos="right"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>
  </ng-template>
</p-dialog>
