<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button (click)="openImportSection()" pButton pRipple label="Import" icon="pi pi-upload" class="p-button-primary p-mr-2"></button>
      <button (click)="exportTemplate()" pButton pRipple label="Export Template" icon="pi pi-download" class="p-button-help"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <button class="p-button-info p-mr-2" pButton pRipple icon="pi pi-plus" label="Create" (click)="openCreateDialog()"></button>
      <button class="p-button-danger p-mr-2" pButton pRipple icon="pi pi-trash" label="Delete" [disabled]="!selectedItem" (click)="deleteProduct(selectedItem)"></button>
      <button class="p-button-success p-mr-2" pButton pRipple label="Edit" icon="pi pi-pencil" [disabled]="!selectedItem" (click)="editProduct(selectedItem)"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #productsDataTable
    dataKey="id"
    [columns]="cols"
    [value]="products"
    [globalFilterFields]="fields"
    [(selection)]="selectedItem"
    [resizableColumns]="true"
    [paginator]="true"
    [scrollable]="true"
    [rows]="20"
    columnResizeMode="expand"
    styleClass="p-datatable-custom"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ title }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="productsDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width.px]="col.width" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <th></th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th pResizableColumn [pSortableColumn]="col.field">{{ col.header }}<p-sortIcon [field]="col.field"> </p-sortIcon></th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">No records found</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableRadioButton [value]="product"></p-tableRadioButton>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ product[col.field] | date: 'dd/MM/yyyy' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ product[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ product[col.field] }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="dialog" [header]="titleDialog" [modal]="true" styleClass="p-fluid p-w-500">
  <ng-template pTemplate="content">
    <form [formGroup]="productForm">
      <div class="p-field">
        <label for="productName">Product Name</label>
        <input
          [ngClass]="{ 'ng-dirty': productNameControl.invalid && (productNameControl.dirty || productNameControl.touched) }"
          pInputText
          id="productName"
          [formControl]="productNameControl"
          type="text"
        />
        <ng-container *ngIf="productNameControl.invalid && (productNameControl.dirty || productNameControl.touched)">
          <small class="p-invalid p-error">Please enter a valid product name</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label for="productNumber">Product Number</label>
        <input
          [ngClass]="{ 'ng-dirty': productNumberControl.invalid && (productNumberControl.dirty || productNumberControl.touched) }"
          pInputText
          id="productNumber"
          [formControl]="productNumberControl"
          type="text"
        />
        <ng-container *ngIf="productNumberControl.invalid && (productNumberControl.dirty || productNumberControl.touched)">
          <small class="p-invalid p-error">Please enter a valid product number</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label for="qtyPerPackage">Qty Per Package</label>
        <p-inputNumber
          [ngClass]="{ 'ng-dirty': qtyPerPackageControl.invalid && (qtyPerPackageControl.dirty || qtyPerPackageControl.touched) }"
          inputId="qtyPerPackage"
          [formControl]="qtyPerPackageControl"
        >
        </p-inputNumber>
        <ng-container *ngIf="qtyPerPackageControl.invalid && (qtyPerPackageControl.dirty || qtyPerPackageControl.touched)">
          <small class="p-invalid p-error">Please enter a valid number</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label for="notes">Notes</label>
        <input pInputText id="notes" [formControl]="notesControl" type="text" />
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="productForm.invalid" (click)="onSubmit()"></button>
  </ng-template>
</p-dialog>
