<p-dialog [closeOnEscape]="true" [header]="titleDialog" styleClass="p-fluid p-w-500" [modal]="true" [(visible)]="isShowDialog" (onHide)="hideDialog()">
  <ng-template pTemplate="content">
    <form [formGroup]="receivedMarkUnstuffForm">
      <div class="p-field">
        <label>Current quantity: {{ selectedReceivedMarkPrinting?.quantity }}</label>
      </div>

      <div class="p-field">
        <label for="quantity">Quantity to unstuff</label>
        <p-inputNumber
          [ngClass]="{ 'ng-dirty': unstuffQuantityControl.invalid && (unstuffQuantityControl.dirty || unstuffQuantityControl.touched) }"
          [formControl]="unstuffQuantityControl"
          id="quantity"
        ></p-inputNumber>

        <ng-container *ngIf="unstuffQuantityControl.invalid && (unstuffQuantityControl.dirty || unstuffQuantityControl.touched)">
          <small class="p-invalid p-error" *ngIf="!unstuffQuantityControl?.errors?.quantityNotValid">Please specify a quantity to unstuff</small>

          <small class="p-invalid p-error" *ngIf="unstuffQuantityControl?.errors?.quantityNotValid">The input quantity must be less than current quantity</small>
        </ng-container>
      </div>
    </form>

    <div class="p-grid">
      <div class="p-col-12 p-md-6">
        <p-card header="Carton number: #{{ selectedReceivedMarkPrinting?.sequence }}" subheader="Quantity: {{ unstuffQuantityControl?.value }}" styleClass="p-card-shadow">
        </p-card>
      </div>
      <div class="p-col-12 p-md-6">
        <p-card
          header="Carton number: #{{ receivedMarkPrintings && receivedMarkPrintings.length + 1 }}"
          subheader="Quantity: {{ selectedReceivedMarkPrinting?.quantity - unstuffQuantityControl?.value }}"
          styleClass="p-card-shadow"
        >
        </p-card>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button [disabled]="receivedMarkUnstuffForm.invalid" pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSubmit()"></button>
  </ng-template>
</p-dialog>
