<p-steps [model]="stepItems" [activeIndex]="stepIndex"></p-steps>

<div class="p-mt-4">
  <ng-container *ngIf="stepIndex === 0">
    <p-fileUpload
      #form
      name="files"
      [customUpload]="true"
      [showCancelButton]="false"
      [accept]="getAccessFile()"
      [maxFileSize]="getMaximumFile()"
      (uploadHandler)="uploadHandler($event, form)"
      (onError)="handleUploadError($event)"
    >
      <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </ng-container>

  <ng-container *ngIf="stepIndex === 1">
    <p-card>
      <ng-template pTemplate="content">
        <ng-container [ngSwitch]="typeImport">
          <ng-container *ngSwitchCase="TemplateType.Product">
            <p-table [value]="data" dataKey="">
              <ng-template pTemplate="header">
                <tr>
                  <th class="p-text-center">Product Number</th>
                  <th class="p-text-center">Product Name</th>
                  <th class="p-text-center">Qty/ Pkg</th>
                  <th class="p-text-center">Notes</th>
                  <th class="p-text-center" [style.width.px]="120">Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>
                    {{ item?.productNumber }}
                  </td>
                  <td>
                    {{ item?.productName }}
                  </td>
                  <td class="p-text-center">
                    {{ item?.qtyPerPackage }}
                  </td>
                  <td>
                    {{ item?.notes }}
                  </td>
                  <td class="p-text-center">
                    <button pButton pRipple type="button" icon="pi pi-cloud-upload" class="p-button-rounded p-button-text"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-container *ngSwitchCase="TemplateType.WorkOrder">
            <p-table [value]="data" dataKey="">
              <ng-template pTemplate="header">
                <tr>
                  <th class="p-text-center">Work Order Id</th>
                  <th class="p-text-center">Product Number</th>
                  <th class="p-text-center">Quantity</th>
                  <th class="p-text-center">Notes</th>
                  <th class="p-text-center" [style.width.px]="120">Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>
                    {{ item?.workOrderId }}
                  </td>
                  <td>
                    {{ item?.productNumber }}
                  </td>
                  <td class="p-text-center">
                    {{ item?.quantity }}
                  </td>
                  <td>
                    {{ item?.notes }}
                  </td>
                  <td class="p-text-center">
                    <button pButton pRipple type="button" icon="pi pi-cloud-upload" class="p-button-rounded p-button-text"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-container *ngSwitchDefault> </ng-container>
        </ng-container>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-grid p-nogutter p-justify-between">
          <p-button styleClass="p-button-text" label="Back" (onClick)="prevPage()" iconPos="left" icon="pi pi-angle-left"></p-button>
          <p-button styleClass="p-button-text" label="Next" (onClick)="nextPage(stepIndex)" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
      </ng-template>
    </p-card>
  </ng-container>

  <ng-container *ngIf="stepIndex === 2">
    <p-card>
      <ng-template pTemplate="content">
        <ng-container [ngSwitch]="typeImport">
          <ng-container *ngSwitchCase="TemplateType.Product">
            <p-table [value]="dataValidated" dataKey="">
              <ng-template pTemplate="header">
                <tr>
                  <th class="p-text-center">Product Number</th>
                  <th class="p-text-center">Product Name</th>
                  <th class="p-text-center">Qty/ Pkg</th>
                  <th class="p-text-center">Notes</th>
                  <th class="p-text-center" [style.width.px]="120">Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>
                    {{ item?.productNumber }}
                  </td>
                  <td>
                    {{ item?.productName }}
                  </td>
                  <td class="p-text-center">
                    {{ item?.qtyPerPackage }}
                  </td>
                  <td>
                    {{ item?.notes }}
                  </td>
                  <td class="p-text-center">
                    <button
                      pButton
                      pRipple
                      [ngClass]="item?.valid ? 'p-button-success' : 'p-button-danger'"
                      type="button"
                      [icon]="item?.valid ? 'pi pi-check-circle' : 'pi pi-ban'"
                      class="p-button-rounded p-button-text"
                    ></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-container *ngSwitchCase="TemplateType.WorkOrder">
            <p-table [value]="dataValidated" dataKey="">
              <ng-template pTemplate="header">
                <tr>
                  <th class="p-text-center">Work Order Id</th>
                  <th class="p-text-center">Product Number</th>
                  <th class="p-text-center">Quantity</th>
                  <th class="p-text-center">Notes</th>
                  <th class="p-text-center" [style.width.px]="120">Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>
                    {{ item?.workOrderId }}
                  </td>
                  <td>
                    {{ item?.productNumber }}
                  </td>
                  <td class="p-text-center">
                    {{ item?.quantity }}
                  </td>
                  <td>
                    {{ item?.notes }}
                  </td>
                  <td class="p-text-center">
                    <button
                      pButton
                      pRipple
                      [ngClass]="item?.valid ? 'p-button-success' : 'p-button-danger'"
                      type="button"
                      [icon]="item?.valid ? 'pi pi-check-circle' : 'pi pi-ban'"
                      class="p-button-rounded p-button-text"
                    ></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-container *ngSwitchDefault> </ng-container>
        </ng-container>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-grid p-nogutter p-justify-between">
          <p-button styleClass="p-button-text" label="Back" (onClick)="prevPage()" iconPos="left" icon="pi pi-angle-left"></p-button>
          <p-button styleClass="p-button-text" label="Next" (onClick)="nextPage(stepIndex)" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
      </ng-template>
    </p-card>
  </ng-container>

  <ng-container *ngIf="stepIndex === 3">
    <p-card>
      <ng-template pTemplate="content">
        <ng-container [ngSwitch]="typeImport">
          <ng-container *ngSwitchCase="TemplateType.Product">
            <div class="p-text-center p-mb-4">
              {{ failedToImportItems.length === 0 ? 'All Data have been imported successfully' : 'Some records have not been imported successfully' }}
            </div>
            <p-table [value]="failedToImportItems.length > 0 ? failedToImportItems : successfullyImportItems" dataKey="">
              <ng-template pTemplate="header">
                <tr>
                  <th class="p-text-center">Product Number</th>
                  <th class="p-text-center">Product Name</th>
                  <th class="p-text-center">Qty/ Pkg</th>
                  <th class="p-text-center">Notes</th>
                  <th class="p-text-center" [style.width.px]="120">Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>
                    {{ item?.productNumber }}
                  </td>
                  <td>
                    {{ item?.productName }}
                  </td>
                  <td class="p-text-center">
                    {{ item?.qtyPerPackage }}
                  </td>
                  <td>
                    {{ item?.notes }}
                  </td>
                  <td class="p-text-center">
                    <button
                      pButton
                      pRipple
                      [ngClass]="failedToImportItems.length === 0 ? 'p-button-success' : 'p-button-danger'"
                      type="button"
                      [icon]="failedToImportItems.length === 0 ? 'pi pi-check-circle' : 'pi pi-ban'"
                      class="p-button-rounded p-button-text"
                    ></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-container *ngSwitchCase="TemplateType.WorkOrder"> </ng-container>
          <ng-container *ngSwitchDefault> </ng-container>
        </ng-container>
      </ng-template>
    </p-card>
  </ng-container>
</div>
