.shipping-mark-create {
  &__warning-text {
    color: #ff0000;
  }

  &__expaned-table {
    th,
    td {
      border: none;
    }

    th {
      background-color: #bbe7fc;
    }

    td {
      background-color: #e0f5ff;
    }
  }
}
