<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"> </ng-template>

    <ng-template pTemplate="right">
      <button class="p-button-info p-mr-2" pButton pRipple icon="pi pi-plus" label="Create" (click)="openCreateDialog()"></button>
      <button
        class="p-button-danger p-mr-2"
        pButton
        pRipple
        icon="pi pi-trash"
        label="Delete"
        [disabled]="!selectedShippingRequest"
        (click)="openDeleteDialog(selectedShippingRequest)"
      ></button>

      <button
        class="p-button-success p-mr-2"
        pButton
        pRipple
        label="Edit"
        icon="pi pi-pencil"
        [disabled]="!selectedShippingRequest"
        (click)="openEditDialog(selectedShippingRequest)"
      ></button>

      <button class="p-button-warning" pButton pRipple icon="pi pi-search" label="History" (click)="openHistoryDialog()"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #shippingRequestDataTable
    dataKey="id"
    columnResizeMode="expand"
    [value]="shippingRequests"
    [rows]="20"
    [columns]="cols"
    [paginator]="true"
    [scrollable]="true"
    [globalFilterFields]="fields"
    [(selection)]="selectedShippingRequest"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ title | uppercase }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="shippingRequestDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width.px]="col.width" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn || TypeColumn.ExpandColumn">
              <th></th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th [pSortableColumn]="col.field">
                {{ col.header }}
                <ng-container *ngIf="col.field">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">No records found</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-shippingRequest let-columns="columns" let-expanded="expanded">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableRadioButton [value]="shippingRequest"></p-tableRadioButton>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              {{ shippingRequest[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ shippingRequest[col.field] | date: 'dd/MM/yyyy' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ shippingRequest[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ shippingRequest[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.ExpandColumn">
              <button
                type="button"
                pButton
                pRipple
                (click)="getDetailShippingRequest(shippingRequest)"
                [pRowToggler]="shippingRequest"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-ellipsis-v' : 'pi pi-ellipsis-h'"
              ></button>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-shippingRequest>
      <tr>
        <td [attr.colspan]="cols.length" class="shipping-request__expaned">
          <div>
            <p-table class="shipping-request__expaned-table" [value]="shippingRequest.shippingRequestDetails">
              <ng-template pTemplate="header">
                <tr>
                  <th>Product Number</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Amount</th>
                  <th>Shipping Mode</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>{{ item?.product?.productNumber }}</td>
                  <td>{{ item?.quantity }}</td>
                  <td>{{ item?.price }}</td>
                  <td>{{ item?.amount }}</td>
                  <td>{{ item?.shippingMode }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-shipping-request-create
  [shippingRequestForm]="shippingRequestForm"
  [selectedShippingPlan]="selectedShippingPlan"
  [products]="products"
  [titleDialog]="titleDialog"
  [isShowDialog]="isShowDialog"
  [shippingPlans]="shippingPlans"
  (submitEvent)="onSubmit()"
  (hideDialogEvent)="hideDialog()"
  (selectedShippingPlanEvent)="handleSelectedShippingPlanEvent($event)"
>
</app-shipping-request-create>

<app-history-dialog [isShowDialog]="isShowDialogHistory" [type]="HistoryDialogType.ShippingRequest" (hideDialogEvent)="hideDialog()"> </app-history-dialog>
