<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"> </ng-template>

    <ng-template pTemplate="right">
      <button class="p-button-info p-mr-2" pButton pRipple icon="pi pi-plus" label="Create"
        (click)="openCreateDialog()"></button>
      <button
        class="p-button-danger p-mr-2"
        pButton
        pRipple
        icon="pi pi-trash"
        label="Delete"
        [disabled]="!selectedShippingRequest"
        (click)="openDeleteDialog(selectedShippingRequest)"></button>

      <button
        class="p-button-success p-mr-2"
        pButton
        pRipple
        label="Edit"
        icon="pi pi-pencil"
        [disabled]="!selectedShippingRequest"
        (click)="openEditDialog(selectedShippingRequest)"></button>

      <button class="p-button-warning" pButton pRipple icon="pi pi-search"
        [disabled]="!selectedShippingRequest" label="History"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #shippingRequestDataTable
    dataKey="id"
    styleClass="p-datatable-customers"
    [columns]="cols"
    [value]="shippingRequests"
    [globalFilterFields]="fields"
    [(selection)]="selectedShippingRequest"
    [resizableColumns]="true"
    [paginator]="true"
    [rows]="20">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Shipping Request Management</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="shippingRequestDataTable.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn || TypeColumn.ExpandColumn">
              <th [style.width.px]="col.width"></th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th [style.width.px]="col.width" pResizableColumn [pSortableColumn]="col.field">
                {{ col.header }}
                <ng-container *ngIf="col.field">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">
          No records found
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-shippingRequest let-columns="columns" let-expanded="expanded">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableRadioButton [value]="shippingRequest"></p-tableRadioButton>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              {{ 'WO' + shippingRequest[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ shippingRequest[col.field] | date: 'dd/MM/yyyy' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ shippingRequest[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ shippingRequest[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.ExpandColumn">
              <button
                type="button"
                pButton
                pRipple
                (click)="getDetailShippingRequest(shippingRequest)"
                [pRowToggler]="shippingRequest"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-ellipsis-v' : 'pi pi-ellipsis-h'"></button>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>

    <!-- TODO: implement when have data -->
    <!-- <ng-template pTemplate="rowexpansion" let-shippingRequest>
      <tr>
        <td colspan="7" class="work-order__expaned">
          <div>
            <p-table class="work-order__expaned-table" [value]="shippingRequest.shippingRequestDetails">
              <ng-template pTemplate="header">
      <tr>
        <th>Product Number</th>
        <th>Product Name</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detail>
      <tr>
        <td>{{ detail?.product?.productNumber }}</td>
        <td>{{ detail?.product?.productName }}</td>
        <td>{{ detail?.quantity }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
</td>
</tr>
</ng-template> -->
  </p-table>
</div>

<!-- Create Shipping Requests Dialog -->
<p-dialog [header]="titleDialog" styleClass="p-fluid p-w-800" [modal]="true" [(visible)]="isShowDialogCreate"
  (onHide)="hideDialogCreate()">
  <ng-template pTemplate="content">
    <p-steps [model]="stepItems" [activeIndex]="activeIndex"></p-steps>

    <ng-container *ngIf="activeIndex === 0">
      <p-card>
        <ng-template pTemplate="title"></ng-template>
        <ng-template pTemplate="content">
          <div class="p-fluid">
            <p-table
              dataKey="id"
              styleClass="p-datatable-customers"
              [columns]="colShippingPlans"
              [value]="shippingPlans"
              [globalFilterFields]="fieldShippingPlans"
              [(selection)]="selectedShippingPlan"
              [resizableColumns]="true"
              [paginator]="true"
              [rows]="10"
              scrollHeight="200px">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col [style.width.px]="col.width" *ngFor="let col of columns" />
                </colgroup>
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <ng-container *ngFor="let col of columns">
                    <ng-container [ngSwitch]="col.type">
                      <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
                        <th></th>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        <th pResizableColumn [pSortableColumn]="col.field">{{ col.header }}<p-sortIcon
                            [field]="col.field"></p-sortIcon>
                        </th>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-shippingPlan let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns">
                    <ng-container [ngSwitch]="col.type">
                      <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
                        <p-tableRadioButton [value]="shippingPlan"></p-tableRadioButton>
                      </ng-container>
                      <ng-container *ngSwitchCase="TypeColumn.DateColumn">
                        {{ shippingPlan[col.field] | date: 'dd/MM/yyyy' }}
                      </ng-container>
                      <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
                        {{ shippingPlan[col.field][col.subField] }}
                      </ng-container>
                      <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
                        {{ shippingPlan[col.field] }}
                      </ng-container>
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-between">
            <p-button styleClass="p-button-text" label="Cancel" (onClick)="hideDialogCreate()" icon="pi pi-times"
              iconPos="left"></p-button>
            <p-button styleClass="p-button-text" label="Next" (onClick)="nextPage(activeIndex)" icon="pi pi-angle-right"
              iconPos="right"></p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>

    <ng-container *ngIf="activeIndex === 1">
      <p-card>
        <ng-template pTemplate="title">Summary</ng-template>
        <ng-template pTemplate="content">
          <form [formGroup]="shippingRequestForm">
            <div class="p-grid p-fluid">
              <div class="p-col-12">
                <div class="p-field">
                  <label for="customerName">Customer Name</label>
                  <input
                    [ngClass]="{ 'ng-dirty': customerNameControl.invalid && (customerNameControl.dirty || customerNameControl.touched) }"
                    pInputText
                    id="customerName"
                    [formControl]="customerNameControl"
                    type="text" />
                  <ng-container
                    *ngIf="customerNameControl.invalid && (customerNameControl.dirty || customerNameControl.touched)">
                    <small class="p-invalid p-error">Please specify a customer name</small>
                  </ng-container>
                </div>
              </div>

              <div class="p-col-12 p-md-6">
                <div class="p-field">
                  <label for="product">Product</label>
                  <p-dropdown
                    [ngClass]="{ 'ng-dirty': productControl.invalid && (productControl.dirty || productControl.touched) }"
                    [options]="selectItems"
                    [formControl]="productControl"
                    id="product"
                    placeholder="Select a Product"
                    appendTo="body"></p-dropdown>

                  <ng-container *ngIf="productControl.invalid && (productControl.dirty || productControl.touched)">
                    <small class="p-invalid p-error">Please select product</small>
                  </ng-container>
                </div>
              </div>

              <div class="p-col-12 p-md-6">
                <div class="p-field">
                  <label for="movingQuantity">Quantity</label>
                  <p-inputNumber
                    [ngClass]="{ 'ng-dirty': quantityControl.invalid && (quantityControl.dirty || quantityControl.touched) }"
                    inputId="movingQuantity"
                    [formControl]="quantityControl">
                  </p-inputNumber>
                  <ng-container *ngIf="quantityControl.invalid && (quantityControl.dirty || quantityControl.touched)">
                    <small class="p-invalid p-error">Please specify a quantity</small>
                  </ng-container>
                </div>
              </div>

              <div class="p-col-6">
                <div class="p-field">
                  <label for="semlineNumber">Semline Number</label>
                  <input
                    [ngClass]="{ 'ng-dirty': semlineNumberControl.invalid && (semlineNumberControl.dirty || semlineNumberControl.touched) }"
                    pInputText
                    id="semlineNumber"
                    [formControl]="semlineNumberControl"
                    type="text" />

                  <ng-container
                    *ngIf="semlineNumberControl.invalid && (semlineNumberControl.dirty || semlineNumberControl.touched)">
                    <small class="p-invalid p-error">Please specify a semline number</small>
                  </ng-container>
                </div>
              </div>

              <div class="p-col-6">
                <div class="p-field">
                  <label for="purchaseOrder">Purchase Order</label>
                  <input
                    [ngClass]="{ 'ng-dirty': purchaseOrderControl.invalid && (purchaseOrderControl.dirty || purchaseOrderControl.touched) }"
                    pInputText
                    id="purchaseOrder"
                    [formControl]="purchaseOrderControl"
                    type="text" />

                  <ng-container
                    *ngIf="purchaseOrderControl.invalid && (purchaseOrderControl.dirty || purchaseOrderControl.touched)">
                    <small class="p-invalid p-error">Please specify a purchase order</small>
                  </ng-container>
                </div>
              </div>

              <div class="p-col-12 p-md-6">
                <div class="p-field">
                  <label for="shippingMode">Shipping Mode</label>
                  <input
                    [ngClass]="{ 'ng-dirty': shippingModeControl.invalid && (shippingModeControl.dirty || shippingModeControl.touched) }"
                    pInputText
                    id="shippingMode"
                    [formControl]="shippingModeControl"
                    type="text" />

                  <ng-container
                    *ngIf="shippingModeControl.invalid && (shippingModeControl.dirty || shippingModeControl.touched)">
                    <small class="p-invalid p-error">Please specify a shipping mode</small>
                  </ng-container>
                </div>
              </div>

              <div class="p-col-12 p-md-6">
                <div class="p-field">
                  <label for="shippingDate">Shipping Date</label>
                  <p-calendar
                    [ngClass]="{ 'ng-dirty': shippingDateControl.invalid && (shippingDateControl.dirty || shippingDateControl.touched) }"
                    id="shippingDate"
                    [formControl]="shippingDateControl"
                    appendTo="body"></p-calendar>

                  <ng-container
                    *ngIf="shippingDateControl.invalid && (shippingDateControl.dirty || shippingDateControl.touched)">
                    <small class="p-invalid p-error">Please select shipping date</small>
                  </ng-container>
                </div>
              </div>

              <div class="p-col-12 p-md-6">
                <div class="p-field">
                  <label for="salesId">Sales Id</label>
                  <input
                    [ngClass]="{ 'ng-dirty': salesIdControl.invalid && (salesIdControl.dirty || salesIdControl.touched) }"
                    pInputText
                    id="salesId"
                    [formControl]="salesIdControl"
                    type="text" />
                  <ng-container *ngIf="salesIdControl.invalid && (salesIdControl.dirty || salesIdControl.touched)">
                    <small class="p-invalid p-error">Please specify a sales id</small>
                  </ng-container>
                </div>
              </div>

              <div class="p-col-12 p-md-6">
                <div class="p-field">
                  <label for="salesPrice">Sales Price</label>
                  <p-inputNumber
                    [ngClass]="{ 'ng-dirty': salesPriceControl.invalid && (salesPriceControl.dirty || salesPriceControl.touched) }"
                    inputId="salesPrice"
                    mode="decimal"
                    [formControl]="salesPriceControl">
                  </p-inputNumber>
                  <ng-container
                    *ngIf="salesPriceControl.invalid && (salesPriceControl.dirty || salesPriceControl.touched)">
                    <small class="p-invalid p-error">Please specify a sales price</small>
                  </ng-container>
                </div>
              </div>

              <div class="p-col-12">
                <div class="p-field">
                  <label for="notes">Notes</label>
                  <input pInputText id="notes" [formControl]="notesControl" type="text" />
                </div>
              </div>
            </div>
          </form>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-between">
            <p-button styleClass="p-button-text" label="Back" (onClick)="prevPage()" iconPos="left"
              icon="pi pi-angle-left"></p-button>
            <p-button [disabled]="shippingRequestForm.invalid" styleClass="p-button-text" label="Submit"
              (onClick)="onSubmit()" icon="pi pi-angle-right" iconPos="right"></p-button>
          </div>
        </ng-template>
      </p-card>
    </ng-container>
  </ng-template>
</p-dialog>

<!-- Edit Shipping Requests Dialog -->
<p-dialog [header]="titleDialog" styleClass="p-fluid p-w-800" [modal]="true" [(visible)]="isShowDialogEdit"
  (onHide)="hideDialogEdit()">
  <ng-template pTemplate="content">
    <form [formGroup]="shippingRequestForm">
      <div class="p-grid p-fluid">
        <div class="p-col-12">
          <div class="p-field">
            <label for="customerName">Customer Name</label>
            <input
              [ngClass]="{ 'ng-dirty': customerNameControl.invalid && (customerNameControl.dirty || customerNameControl.touched) }"
              pInputText
              id="customerName"
              [formControl]="customerNameControl"
              type="text" />
            <ng-container
              *ngIf="customerNameControl.invalid && (customerNameControl.dirty || customerNameControl.touched)">
              <small class="p-invalid p-error">Please specify a customer name</small>
            </ng-container>
          </div>
        </div>

        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <label for="product">Product</label>
            <p-dropdown
              [ngClass]="{ 'ng-dirty': productControl.invalid && (productControl.dirty || productControl.touched) }"
              [options]="selectItems"
              [formControl]="productControl"
              id="product"
              placeholder="Select a Product"
              appendTo="body"></p-dropdown>

            <ng-container *ngIf="productControl.invalid && (productControl.dirty || productControl.touched)">
              <small class="p-invalid p-error">Please select product</small>
            </ng-container>
          </div>
        </div>

        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <label for="movingQuantity">Quantity</label>
            <p-inputNumber
              [ngClass]="{ 'ng-dirty': quantityControl.invalid && (quantityControl.dirty || quantityControl.touched) }"
              inputId="movingQuantity"
              [formControl]="quantityControl">
            </p-inputNumber>
            <ng-container *ngIf="quantityControl.invalid && (quantityControl.dirty || quantityControl.touched)">
              <small class="p-invalid p-error">Please specify a quantity</small>
            </ng-container>
          </div>
        </div>

        <div class="p-col-6">
          <div class="p-field">
            <label for="semlineNumber">Semline Number</label>
            <input
              [ngClass]="{ 'ng-dirty': semlineNumberControl.invalid && (semlineNumberControl.dirty || semlineNumberControl.touched) }"
              pInputText
              id="semlineNumber"
              [formControl]="semlineNumberControl"
              type="text" />

            <ng-container
              *ngIf="semlineNumberControl.invalid && (semlineNumberControl.dirty || semlineNumberControl.touched)">
              <small class="p-invalid p-error">Please specify a semline number</small>
            </ng-container>
          </div>
        </div>

        <div class="p-col-6">
          <div class="p-field">
            <label for="purchaseOrder">Purchase Order</label>
            <input
              [ngClass]="{ 'ng-dirty': purchaseOrderControl.invalid && (purchaseOrderControl.dirty || purchaseOrderControl.touched) }"
              pInputText
              id="purchaseOrder"
              [formControl]="purchaseOrderControl"
              type="text" />

            <ng-container
              *ngIf="purchaseOrderControl.invalid && (purchaseOrderControl.dirty || purchaseOrderControl.touched)">
              <small class="p-invalid p-error">Please specify a purchase order</small>
            </ng-container>
          </div>
        </div>

        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <label for="shippingMode">Shipping Mode</label>
            <input
              [ngClass]="{ 'ng-dirty': shippingModeControl.invalid && (shippingModeControl.dirty || shippingModeControl.touched) }"
              pInputText
              id="shippingMode"
              [formControl]="shippingModeControl"
              type="text" />

            <ng-container
              *ngIf="shippingModeControl.invalid && (shippingModeControl.dirty || shippingModeControl.touched)">
              <small class="p-invalid p-error">Please specify a shipping mode</small>
            </ng-container>
          </div>
        </div>

        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <label for="shippingDate">Shipping Date</label>
            <p-calendar
              [ngClass]="{ 'ng-dirty': shippingDateControl.invalid && (shippingDateControl.dirty || shippingDateControl.touched) }"
              id="shippingDate"
              [formControl]="shippingDateControl"
              appendTo="body"></p-calendar>

            <ng-container
              *ngIf="shippingDateControl.invalid && (shippingDateControl.dirty || shippingDateControl.touched)">
              <small class="p-invalid p-error">Please select shipping date</small>
            </ng-container>
          </div>
        </div>

        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <label for="salesId">Sales Id</label>
            <input
              [ngClass]="{ 'ng-dirty': salesIdControl.invalid && (salesIdControl.dirty || salesIdControl.touched) }"
              pInputText
              id="salesId"
              [formControl]="salesIdControl"
              type="text" />
            <ng-container *ngIf="salesIdControl.invalid && (salesIdControl.dirty || salesIdControl.touched)">
              <small class="p-invalid p-error">Please specify a sales id</small>
            </ng-container>
          </div>
        </div>

        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <label for="salesPrice">Sales Price</label>
            <p-inputNumber
              [ngClass]="{ 'ng-dirty': salesPriceControl.invalid && (salesPriceControl.dirty || salesPriceControl.touched) }"
              inputId="salesPrice"
              mode="decimal"
              [formControl]="salesPriceControl">
            </p-inputNumber>
            <ng-container *ngIf="salesPriceControl.invalid && (salesPriceControl.dirty || salesPriceControl.touched)">
              <small class="p-invalid p-error">Please specify a sales price</small>
            </ng-container>
          </div>
        </div>

        <div class="p-col-12">
          <div class="p-field">
            <label for="notes">Notes</label>
            <input pInputText id="notes" [formControl]="notesControl" type="text" />
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialogEdit()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
      [disabled]="shippingRequestForm.invalid" (click)="onSubmit()"></button>
  </ng-template>
</p-dialog>
