<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"></ng-template>
    <ng-template pTemplate="right">
      <button class="p-button-info p-mr-2" pButton pRipple icon="pi pi-plus" label="Create"
        (click)="openCreateDialog()"></button>
      <button
        class="p-button-danger p-mr-2"
        pButton
        pRipple
        icon="pi pi-trash"
        label="Delete"
        [disabled]="selectedReceivedMarks && selectedReceivedMarks.length !== 1"
        (click)="openDeleteDialog(selectedReceivedMarks[0])"></button>

      <button
        class="p-button-success p-mr-2"
        pButton
        pRipple
        label="Edit"
        icon="pi pi-pencil"
        [disabled]="selectedReceivedMarks && selectedReceivedMarks.length !== 1"
        (click)="openEditDialog(selectedReceivedMarks[0])"></button>

      <button class="p-button-warning" pButton pRipple icon="pi pi-search"
        [disabled]="selectedReceivedMarks && selectedReceivedMarks.length !== 1" label="History"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #shippingRequestDataTable
    dataKey="id"
    styleClass="p-datatable-customers"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rows]="20"
    [columns]="cols"
    [value]="receivedMarks"
    [rowHover]="true"
    [paginator]="true"
    [showCurrentPageReport]="true"
    [resizableColumns]="true"
    [globalFilterFields]="fields"
    [scrollable]="true"
    [(selection)]="selectedReceivedMarks">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Received Mark</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="shippingRequestDataTable.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col [style.width.px]="col.width" *ngFor="let col of columns" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th pResizableColumn [pSortableColumn]="col.field">{{ col.header }}<p-sortIcon
                  [field]="col.field"></p-sortIcon>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-workOrder let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableCheckbox [value]="workOrder"></p-tableCheckbox>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ workOrder[col.field] | date: 'dd/MM/yyyy' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ workOrder[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ workOrder[col.field] }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Edit Received Mark Dialog -->
<p-dialog [header]="titleDialog" styleClass="p-fluid p-w-500" [modal]="true" [(visible)]="isShowDialog"
  (onHide)="hideDialog()">
  <ng-template pTemplate="content">
    <form [formGroup]="receivedMarkForm">
      <div class="form-group">
        <label for="product" class="control-label">Work Order</label>
        <p-dropdown [options]="selectItems" [formControl]="workOrderControl" id="workOrder"
          placeholder="Select a Work Order" appendTo="body"></p-dropdown>
        <ng-container *ngIf="workOrderControl.invalid && (workOrderControl.dirty || workOrderControl.touched)">
          <small class="p-invalid create-user-form__error">Please select work order</small>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="notes" class="control-label">Notes</label>
        <input pInputText id="notes" [formControl]="notesControl" type="text" class="form-control" />
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="receivedMarkForm.invalid"
      (click)="onSubmit()"></button>
  </ng-template>
</p-dialog>

<!-- Delete Received Marks Dialog -->
<p-dialog header="Delete Received Marks" styleClass="p-fluid" [modal]="true" [(visible)]="isShowDeleteDialog"
  (onHide)="hideDeleteDialog()">
  <ng-template pTemplate="content">
    <ng-container *ngIf="currentSelectedReceivedMark && currentSelectedReceivedMark.length; else deleteMany">
      <div>Are you sure you want to delete {{ currentSelectedReceivedMark[0].id }} ?</div>
    </ng-container>
  </ng-template>

  <ng-template #deleteMany>
    <div>Are you sure you want to delete {{ selectedReceivedMarks && selectedReceivedMarks.length }} items ?</div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
      (click)="hideDeleteDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onDelete()"></button>
  </ng-template>
</p-dialog>
