<section class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="/">User Management</a>
    </div>

    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Nhập thông tin để lấy lại mật khẩu</p>

        <form [formGroup]="forgetPasswordForm" (ngSubmit)="submitForgetPassword()">
          <div class="input-group mb-3">
            <input formControlName="userName" id="userName" type="email" class="form-control" placeholder="Tài khoản" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <span *ngIf="(userName.touched || submitted) && userName.errors?.required" id="userName" class="error invalid-feedback" style="display: block">
              Vui lòng nhập tài khoản
            </span>
            <span *ngIf="(userName.touched || submitted) && userName.errors?.email" id="userName" class="error invalid-feedback" style="display: block"
              >Vui lòng nhập đúng định dạng email</span
            >
          </div>

          <div class="row">
            <div class="col-12">
              <button type="submit" [disabled]="forgetPasswordForm.invalid" class="btn btn-primary btn-block">Gửi yêu cầu</button>
            </div>
          </div>
        </form>

        <p class="mt-2 mb-0">
          <a (click)="goBackLogin()" class="text-center pointer">Quay lại <span style="text-decoration: underline; color: #5aaafb">trang đăng nhập</span></a>
        </p>
      </div>
    </div>
  </div>
</section>
