<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedItems()"
        [disabled]="!selectedItems || !selectedItems.length"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    able
    #dt
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [value]="productType"
    [rows]="20"
    [paginator]="true"
    [rowHover]="true"
    [(selection)]="selectedItems"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Loại Sản Phẩm</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Tên Loại Sản Phẩm</th>
        <th>Created Date</th>
        <th>Last Modified Date</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td>
        <td>{{ item.productTypeName }}</td>
        <td>{{ item.created | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.lastModified | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editProductType(item.id)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteProductType(item)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ attachmentTypes ? attachmentTypes.length : 0 }} items.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="dialog"
  [style]="{ width: '450px' }"
  header="{{ titleDialog }}"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group"></div>
      <div class="form-group">
        <label class="control-label">Tên loại sản phẩm</label>
        <input formControlName="productTypeName" id="productTypeName" type="text" class="form-control" />
        <span
          *ngIf="(productTypeName.touched || submitted) && productTypeName.errors?.required"
          id="productTypeName"
          class="error invalid-feedback"
          style="display: block"
          >Tên loại sản phẩm không được bỏ trống</span
        >
        <span
          *ngIf="(productTypeName.touched || submitted) && productTypeName.errors?.maxlength"
          id="productTypeName"
          class="error invalid-feedback"
          style="display: block"
          >Tên loại sản phẩm không được trên 30 ki tự</span
        >
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Xác nhận</button>
      </div>
    </form>
  </ng-template>
</p-dialog>
