<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedItems()"
        [disabled]="!selectedItems || !selectedItems.length"
      ></button>
      <!-- <app-select-company></app-select-company> -->
    </ng-template>
  </p-toolbar>

  <p-table
  able
  #dt
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [value]="productOverviews"
  [rows]="20"
  [paginator]="true"
  [rowHover]="true"
>

  <!-- <p-table
    able
    #dt
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [value]="productOverviews"
    [rows]="20"
    [paginator]="true"
    [rowHover]="true"
    [(selection)]="selectedItems"
    [showCurrentPageReport]="true"
  > -->
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Danh Mục Sản Phẩm</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Hình Ảnh</th>
        <th>Tên Sản Phẩm</th>
        <th>Loại Sản Phẩm</th>
        <th>Tên Công Ty</th>
        <th>Chi Nhánh</th>
        <th>Quốc Gia</th>
        <th>Created Date</th>
        <th>Last Modified Date</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td>
        <td><img [src] = "item.imageUrl ==='' ? 'assets/img/NoImg.jpg' : item.imageUrl" alt="" style="width:100px; height:100px"></td>
        <td>{{ item.productName }}</td>
        <td>{{ item.productTypeString }}</td>
        <td>{{ item.companyName }}</td>
        <td>{{ item.brandNameString }}</td>
        <td>{{ item.country.countryName }}</td>
        <td>{{ item.created | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.lastModified | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editProduct(item.id)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteProduct(item)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ attachmentTypes ? attachmentTypes.length : 0 }} items.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="dialog"
  [style]="{ width: '800px' }"
  header="{{titleDialog}}"
  [modal]="true"
  styleClass="p-fluid"
>

  <ng-template pTemplate="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <!-- <label class="control-label">Tên Công Ty</label>
        <select formControlName="companyIndex" id="companyIndex" class="form-control companyIndex" (change)="onChangeCompany($event.target.value)" [attr.disabled] = "companyDisabled">
          <option *ngFor="let item of company" [value]="item.companyIndex">{{ item['companyName'] }}</option>
        </select> -->

        <span
          *ngIf="(companyIndex.touched || submitted) && companyIndex.errors?.required"
          id="productTypeId"
          class="error invalid-feedback"
          style="display: block"
          >Xin hãy chọn công ty</span
        >
      </div>
    

      <div class="form-group">
        <label class="control-label">Loại Sản Phẩm</label>
        <select formControlName="productTypeId" id="productTypeId" class="form-control">
          <option *ngFor="let item of productType" [value]="item.id">{{ item['productTypeName'] }}</option>
        </select>

        <span
          *ngIf="(productTypeId.touched || submitted) && productTypeId.errors?.required"
          id="productTypeId"
          class="error invalid-feedback"
          style="display: block"
          >Xin hãy chọn loại sản phẩm</span
        >
      </div>
      <div class="form-group">
        <label class="control-label">Tên Sản Phẩm</label>
        <input formControlName="productName" id="productName" type="text" class="form-control" />
        <span
          *ngIf="(productName.touched || submitted) && productName.errors?.required"
          id="productName"
          class="error invalid-feedback"
          style="display: block"
          >Xin hãy nhập tên sản phẩm</span
        >
        <span
          *ngIf="(productName.touched || submitted) && productName.errors?.maxlength"
          id="productName"
          class="error invalid-feedback"
          style="display: block"
          >Tên sản phẩm tối đa chỉ được 100 ký tự</span
        >
      </div>
      <div class="form-group">
        <input formControlName="hightlightProduct" id="hightlightProduct" name="hightlightProduct" type="checkbox" style="margin-left: 0" />
        <label class="control-label" for="hightlightProduct" style="margin-left: 20px">Nổi bật</label>
      </div>
      <div class="form-group">
        <label class="control-label">Hình Ảnh Sản Phẩm</label>
        <input id="file" type="file" accept="image/*" class="form-control" (change)="onFileChange($event)" />
      </div>

      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <ng-container *ngIf="imageUrl.value; else noImage">
            <img [src]="imageUrl.value" class="card-img-top" />
          </ng-container>
          <ng-template #noImage>
            <img src="assets/img/NoImg.jpg" class="card-img-top" />
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Quốc Gia</label>
        <select formControlName="countryCode" id="countryCode" class="form-control">
          <option *ngFor="let item of country" [value]="item.countryCode">{{ item['countryName'] }}</option>
        </select>

        <span
          *ngIf="(countryCode.touched || submitted) && countryCode.errors?.required"
          id="countryCode"
          class="error invalid-feedback"
          style="display: block"
          >Xin hãy chọn quốc gia</span
        >
      </div>
      <div class="form-group">
        <label class="control-label">Thương Hiệu</label>
        <select formControlName="brandId" id="brandId" class="form-control">
          <option *ngFor="let item of brand" [value]="item.id">{{ item['brandName'] }}</option>
        </select>

        <span
          *ngIf="(brandId.touched || submitted) && brandId.errors?.required"
          id="brandId"
          class="error invalid-feedback"
          style="display: block"
          >Xin hãy chọn thương hiệu</span
        >
      </div>

      
      <div class="form-group">
        <label class="control-label">Mô Tả Ngắn</label>
        <textarea
          rows="5"
          formControlName="highLevelDesc"
          id="highLevelDesc"
          type="text"
          class="form-control"
        ></textarea>
        <span
          *ngIf="(highLevelDesc.touched || submitted) && highLevelDesc.errors?.required"
          id="highLevelDesc"
          class="error invalid-feedback"
          style="display: block"
          >Xin hãy nhập tên thông tin tóm tắt bài viết
          </span>
        <span
          *ngIf="(highLevelDesc.touched || submitted) && highLevelDesc.errors?.maxlength"
          id="highLevelDesc"
          class="error invalid-feedback"
          style="display: block"
          >Thông tin mô tả 1 không được hơn 300 kí tự
          </span>
      </div>
      <div class="form-group">
        <label class="control-label">Mô Tả Chi Tiết</label>
        <app-ckeditor [content]="mediumLevelDesc.value" (eventOnChange)="handleValueCkChange($event)"></app-ckeditor>
        
        <span
          *ngIf="(mediumLevelDesc.touched || submitted) && mediumLevelDesc.errors?.required"
          id="mediumLevelDesc"
          class="error invalid-feedback"
          style="display: block"
          >Xin hãy nhập tên thông tin tóm tắt bài viết</span
        >
        <span
          *ngIf="(mediumLevelDesc.touched || submitted) && mediumLevelDesc.errors?.maxlength"
          id="mediumLevelDesc"
          class="error invalid-feedback"
          style="display: block"
          >Thông tin mô tả 2 không được hơn 1000 ký tự</span
        >
      </div>
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Xác Nhận</button>
    </form>
  </ng-template>
  <!-- <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveAttachmentType()"
    ></button>
  </ng-template> -->
</p-dialog>
<p-confirmDialog [style]="{ width: '500px' }"></p-confirmDialog>
