@import 'assets/styles/custom-primeng.scss';

html {
  font-size: 0.875rem !important;
}

.pointer {
  cursor: pointer;
}

@media print {
  @page {
    size: 100mm 60mm;
    margin: 3mm;
  }

  footer {
    display: none;
  }

  app-print {
    display: none;
  }

  .isPrinting > * {
    display: none;
  }

  .isPrinting app-print {
    display: block;
  }

  p-confirmdialog {
    display: none;
  }
}
