@import './assets/styles/custom-primeng.scss';

/* You can add global styles to this file, and also import other style files*/
.pointer {
  cursor: pointer;
}

@media print {
  footer { display: none; }
  app-print { display: none; }
  .isPrinting > * { display: none; }
  .isPrinting app-print { display: block; }
}
