<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <!-- <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedItems()"
        [disabled]="!selectedItems || !selectedItems.length"
      ></button> -->
      <!-- <app-select-company></app-select-company> -->
    </ng-template>
  </p-toolbar>

  <p-table
    able
    #dt
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [value]="Promotion"
    [rows]="20"
    [paginator]="true"
    [rowHover]="true"
    [(selection)]="selectedItems"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Thông Tin Đăng Ký Ưu Đãi</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <!-- <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th> -->
        <th style="width: 15%">Tên</th>
        <th style="width: 17%">Ngày Sinh</th>
        <th style="width: 20%">Số ĐT</th>
        <th style="width: 20%">Thao Tác</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <!-- <td>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td> -->
        <td>{{ item.customerName }}</td>
        <td>{{ item.birthDay | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.phoneNumber }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editPromotion(item.id)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deletePromotion(item)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ attachmentTypes ? attachmentTypes.length : 0 }} items.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="dialog"
  [style]="{ width: '450px' }"
  header="{{titleDialog}}"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
      </div>
      <div class="form-group">
        <label class="control-label">Tên Khách Hàng</label>
        <input formControlName="customerName" id="customerName" type="text" class="form-control" />
        <span
          *ngIf="(customerName.touched || submitted) && customerName.errors?.required"
          id="customerName"
          class="error invalid-feedback"
          style="display: block"
          >Tên khách hàng không được bỏ trống</span
        >
        <span
          *ngIf="(customerName.touched || submitted) && customerName.errors?.maxlength"
          id="customerName"
          class="error invalid-feedback"
          style="display: block"
          >Tên khách hàng không được trên 30 ki tự</span
        >
      </div>
      <div class="form-group">
        <label class="control-label">Ngày Sinh</label>
        <input formControlName="birthDay" id="birthDay" type="date" class="form-control" />
      </div>

      <div class="form-group">
        <label class="control-label">Số ĐT</label>
        <input formControlName="phoneNumber" id="phoneNumber" type="number" class="form-control" />
        <span
          *ngIf="(phoneNumber.touched || submitted) && phoneNumber.errors?.required"
          id="phoneNumber"
          class="error invalid-feedback"
          style="display: block"
          >Số ĐT khách hàng không được bỏ trống</span
        >
        <span
          *ngIf="(phoneNumber.touched || submitted) && phoneNumber.errors?.maxlength"
          id="phoneNumber"
          class="error invalid-feedback"
          style="display: block"
          >Số ĐT khách hàng không được trên 12 ki tự</span
        >
      </div>
   
      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Xác nhận</button>
      </div>
    </form>
  </ng-template>

  <!-- <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveAttachmentType()"
    ></button>
  </ng-template> -->
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
